<div
    class="xprez-option {% if field.field.required %}required{% endif %}"
    {% if size is not None %}data-size="{{ size }}"{% endif %}
    {% if field.errors %}data-has-errors{% endif %}
    data-active="true"
    {% if label is False %}data-text-label="false"{% endif %}
    {{ attributes|default:"" }}
>
    {% if label is not False or icon %}
        <label for="{{ field.id_for_label }}">
            {% if icon %}<i class="{{ icon }}"></i>{% endif %}
            {% if icon2 %}<i class="{{ icon2 }}"></i>{% endif %}
            {% if label is not False %}<span>{{ label|default:field.label }}</span>{% endif %}
        </label>
    {% endif %}
    {% if field.field.widget.input_type == "select" %}
        <span class="xprez-option__dropdown">
            <select class="xprez-option__select" name="{{ field.html_name }}">
                {% for choice in field.field.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == field.value %}selected{% endif %}>{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </span>
    {% else %}
        {{ field }}
    {% endif %}
    {% if suffix %}
        <span class="xprez-option__suffix">{{ suffix }}</span>
    {% endif %}
    {% include "xprez/admin/form/field_errors.html" %}
</div>
