{% extends "xprez/admin/modules/base.html" %}
{% block main_fields %}
    {% with module.admin_form as form %}
        <div class="xprez-option-row">{% include "xprez/admin/form/field.html" with field=form.name %}</div>
        <div class="xprez-option-row">{% include "xprez/admin/form/field.html" with field=form.subtitle %}</div>
        <div class="xprez-option-row">{% include "xprez/admin/form/field.html" with field=form.image %}</div>
        <div class="xprez-option-row">{% include "xprez/admin/form/field.html" with field=form.title %}</div>
        <div class="xprez-option-row">{% include "xprez/admin/form/field.html" with field=form.quote %}</div>
    {% endwith %}
{% endblock %}
