{% extends 'xprez/admin/modules/base.html' %}
{% block options_class %}hidden{% endblock %}
{% block main_fields %}
    {% with module.admin_form as form %}
        {% include 'xprez/admin/form/row.html' with field=form.name %}
        {% include 'xprez/admin/form/row.html' with field=form.job_title %}
        {% include 'xprez/admin/form/row.html' with field=form.image %}
        {% include 'xprez/admin/form/row.html' with field=form.title %}
        {% include 'xprez/admin/form/row.html' with field=form.quote %}
    {% endwith %}
{% endblock %}
