{% extends "xprez/admin/modules/base.html" %}

{% block common_options_wrapper %}{% endblock %}
{% block options_wrapper %}{% endblock %}
{% block btn_copy_content %}{% endblock %}
{% block btn_options %}{% endblock %}

{% block content %}
	<div class="xprez-module__content-info">
		{% if module.symlink %}
			{% include "xprez/admin/icons/page.html" %} <strong>{{ module.symlink.container.polymorph }}</strong>
			<span class="xprez-module__content-info-arr">&#x203A;</span>
			{% include "xprez/admin/icons/link.html" %} <strong>Section ({{ module.symlink.modules.count }} modules)</strong>
		{% else %}
			<div class="xprez-warning">Linked section not found.</div>
		{% endif %}
	</div>
{% endblock %}
