.ck-widget {
	&.image, &.media {
		margin: 2rem 0;
	}
}

.medium-insert-images {
	figure {
		margin: $g*2 0;
	}

	img	{
		max-width: 100%;
		height: auto;
	}
}

.medium-insert-embeds {
	figure {
		margin: $g*2 0;
	}

	.video {
		position: relative;
		padding-top: 55%;

		iframe {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 100%;
			display: block;
		}
	}
}

.medium-insert-images-center {
	text-align: center;
}

.medium-insert-images-right, .medium-insert-embeds-right,
.ck-widget.image-style-align-right {
	max-width: 40%;
	margin: 0 0 $g 30px;
	float: right;

	figure {
		margin: $g*.5 0 $g 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media screen and (max-width: 500px) {
		max-width: 100%;
		margin: 0 0 $g 0;
		float: none;
	}
}

.medium-insert-images-left, .medium-insert-embeds-left,
.ck-widget.image-style-align-left {
	max-width: 40%;
	margin: 0 30px $g 0;
	float: left;

	figure {
		margin: $g*.5 0 $g 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media screen and (max-width: 500px) {
		max-width: 100%;
		margin: 0 0 $g 0;
		float: none;
	}
}

.medium-insert-images, .medium-insert-embeds,
.ck-widget.image {
	figcaption {
		@include type(15px, 1.3);
		@include type-min(13px, 1);
		font-style: italic;
		display: block;
		text-align: center;
		padding: .5*$g 10px 0;
		margin-bottom: $g;
		opacity: 0.7;
		background: none;

		&:last-child {
			margin-bottom: 0;
		}
	}
}