@use "../library/rfs";

// content blocks relations

.xprez-module-margin-bottom-0 {
	margin-bottom: 0;
}

.xprez-module-margin-bottom-1 {
	@include rfs.margin-bottom(2rem);
}

.xprez-module-margin-bottom-2 {
	@include rfs.margin-bottom(5rem);
}

.xprez-module-margin-bottom-3 {
	@include rfs.margin-bottom(7.5rem);
}

.xprez-module-margin-bottom-4 {
	@include rfs.margin-bottom(10rem);
}

.xprez-module-padding-top-0 {
	padding-top: 0;
}

.xprez-module-padding-top-1 {
	@include rfs.padding-top(2rem);
}

.xprez-module-padding-top-2 {
	@include rfs.padding-top(5rem);
}

.xprez-module-padding-top-3 {
	@include rfs.padding-top(7.5rem);
}

.xprez-module-padding-top-4 {
	@include rfs.padding-top(10rem);
}

.xprez-module-padding-bottom-0 {
	padding-bottom: 0;
}

.xprez-module-padding-bottom-1 {
	@include rfs.padding-bottom(2rem);
}

.xprez-module-padding-bottom-2 {
	@include rfs.padding-bottom(5rem);
}

.xprez-module-padding-bottom-3 {
	@include rfs.padding-bottom(7.5rem);
}

.xprez-module-padding-bottom-4 {
	@include rfs.padding-bottom(10rem);
}
