// content blocks relations

@mixin relation($o,$l,$m,$s) { // grid multiples
	margin-top: $g*$o;
	@media only screen and (max-width: $typo-break-l) {
       margin-top: $g*$l;
    }
    @media only screen and (max-width: $typo-break-m) {
       margin-top: $g*$m;
    }
    @media only screen and (max-width: $typo-break-s) {
       margin-top: $g*$s;
    }
}
.xprez-module {
	& + .xprez-module {
		@include relation(5,4,3,2);
	}
	& + .xprez-gallery {
		@include relation(5,3,2,1.5);
	}
	& + .xprez-gallery.text-width {
		@include relation(3,1.5,1.5,1.5);
	}
	&:last-child {
		margin-bottom: $g*5;
		@media only screen and (max-width: $typo-break-s) {
	       margin-bottom: $g*2;
	    }
	}
	&.xprez-quote-boxed:last-child,
	&.xprez-photo-connect-true.full-width:last-child {
		margin-bottom: 0;
	}
}
.xprez-gallery {
	& + .xprez-module {
		@include relation(5,4,3,2);
	}
	& + & {
		margin-top: 0;
	}
}
.xprez-grid-boxes {
	& + & {
		margin-top: 0;
	}
}


