.xprez-video {
	&.full-width {
		@include full-width;
	}
	&.mid-width {
		@include m-width;
	}
	&.text-width {
		@include s-width;
	}
} 
.xprez-video-item {
	position: relative;
	padding-top: 55%;
	iframe {
		position: absolute;
		top: 0; right: 0;
		height: 100%;
		width: 100%;
		display: block;
	}
}
[class^="xprez-video-poster-"], [class*=" xprez-video-poster-"] {
	cursor: pointer;
	position: absolute;
	top: 0; right: 0;
	height: 100%;
	width: 100%;
	display: block;
	z-index: 2;
	background-position: center center;
	background-size: cover;
	&:after {
		position: absolute;
		line-height: 1;
		font-family: 'xprez' !important;
		top: 50%;
		left: 50%;
		content: "\e038";
		z-index: 3;
		color: white;
		text-shadow: 0 0 40px rgba(0,0,0,0.1);
		font-size: 130px;
		margin-left: -65px;
		margin-top: -65px;
		@include transition(all,0.3s);
		@media only screen and (max-width: $typobreakM) {
			font-size: 80px;
			margin-left: -40px;
			margin-top: -40px;
		}
		@media only screen and (max-width: $typobreakS) {
			font-size: 60px;
			margin-left: -30px;
			margin-top: -30px;
		}
	}
	&:hover:after {
		transform: scale(1.1);
	}
}