.article-header__cont,
.medium-editor, .medium-editor-simple, .medium-editor-no-insert-plugin, 
.xprez-feature-boxes, .xprez-download, .xprez-text-content {
	@include s-width;
	@include xprez-mobile-extra-space;
}

// Xprez basic text styles

.xprez-text-content, .xprez-text-image,   
.xprez-feature-boxes {
	@include clearfix;
}

.xprez-text-content,  
.medium-editor, .medium-editor-simple, .medium-editor-no-insert-plugin,
.xprez-feature-boxes, .xprez-download, .xprez-text-image  { 
	p {
		@include type(18px,2, 0, 1);
		@include type-min(16px,1.5, 0, 1);
		@include sans;
	}
	h2 {
		@include type(55px,4,4,2);
		@include type-mid(40px,3,3,2);
		@include type-min(30px,2.5,2.5,1.5);
		@include sans;
		font-weight: 700;
		letter-spacing: -0.04em;
		margin-left: 0;
		&:first-child {
			margin-top: 0;
		}
		span {
			font-weight: bold !important;
			color: $gray;
		}
	}
	h3 {
		@include type(30px,2.5,3,1); 
		@include type-mid(23px,2,2,1);
		@include sans;
		padding-left: 0;
		&:first-child {
			margin-top: 0;
		}
		span {
			font-weight: bold !important;
			color: $gray;
		}
	}
	h4 {
		@include type(18px,2, 0, 1);
		@include type-min(16px,1.5, 0, 1);
		@include sans;
		font-weight: bold;
	}
	small {
		font-size: 80%;
	}
	ul, ol {
		margin: $g 0;
		padding: 0 0 0 50px;
		@media only screen and (max-width: $typobreakS) {
	       padding-left: 30px
	    }
		li {
			@include type(18px,2,0,0);
			@include type-min(16px,1.5, 0, 1);
		}
	}
	.btn {
		display: inline-block;
		background: $txt-gray;
		@include type(13px,1.5);
		@include sans;
		@include boxSizing;
		@include borderRadius(0);
		text-shadow: none;
		border: none;
		text-transform: uppercase;
		color: $white;
		padding: $g*1.25 30px;
		text-decoration: none;
		letter-spacing: 0.1em;
		@media only screen and (max-width: $typobreakS) {
	       padding: $g*1 20px;
	    }
		&:active {
			transform: scale(0.95);
		}
		&:hover {
			color: $txt-gray;
			background-color: $light-gray;
		}
		&.btn-white {
			background: $white;
			color: $txt-gray;
			&:hover { color: $txt-gray; }
		}
	}
}

// Specific styles for feature boxes & simple medium editor 

.xprez-feature-boxes, .medium-editor-simple,
.medium-editor-no-insert-plugin  {
	h2 {
		margin-top: .5*$g;
		margin-bottom: .5*$g;
		&:first-child {
			margin-top: 0;
		}
	}
	h3 {
		margin-top: .5*$g;
		margin-bottom: .5*$g;
		&:first-child {
			margin-top: 0;
		}
	}
}

// Medium Editor frontend specific style overrides

.medium-editor {
	font-size: $basefont;
	padding-top: $g*1;
	@include sans;
}
.medium-insert-images {
	figure {
		margin: $g*2 0;
		img {
			width: 100%;
		}
	}
}
.medium-insert-embeds {
	figure { margin: $g*2 0; }
	.video {
		position: relative;
		padding-top: 55%;
		iframe {
			position: absolute;
			top: 0; right: 0;
			height: 100%;
			width: 100%;
			display: block;
		}
	}
}
.medium-insert-images-right, .medium-insert-embeds-right {
	max-width: 33.33%;
	margin: 0 0 $g 30px;
	float: right;
	figure {
		margin: $g*.5 0 $g 0;
	}
}
.medium-insert-images-left, .medium-insert-embeds-left {
	max-width: 33.33%;
	margin: 0 30px $g 0;
	float: left;
	figure {
		margin: $g*.5 0 $g 0;
	}
}

.medium-insert-images, .medium-insert-embeds {
	figcaption {
		@include type(15px,1.3);
		@include type-min(13px,1);
		font-style: italic;
		display: block;
		text-align: center;
		padding: .5*$g 10px 0;
		margin-bottom: $g;
		opacity: 0.7;
	}
}





