.xprez-text-content-boxed {
	@include boxSizing;
	background: $super-light-gray;
	max-width: 100%;
	padding: $g*3 $l-space;
	p:last-child {
		margin-bottom: 0;
	}
	&.full-width {
		@include full-width;
	}
	&.mid-width {
		@include m-width;
	}
	&.text-width {
		@include cont-width($s-width + $m-space*6);
		padding: $g*3 $m-space*3;
	}
	&.full-width, &.mid-width, &.text-width {
		@media only screen and (max-width: ($breakM+200)) {
		padding: $g*2 $m-space;
		}
		@media only screen and (max-width: ($breakS)) {
			padding: $g*2 $s-space;
		}
	}
}