// gallery breakpoints

$g-break-m: 800px;
$g-break-s: 500px;
$g-break-xs: 400px;

.xprez-gallery {

	&.xprez-photo-connect-false {
		padding: 0 $s-space;
		@media only screen and (max-width: ($g-break-m)) {
			padding: 0 $xs-space;
		}
	}
	&.full-width {
		@include full-width;
	}
	&.mid-width {
		@include m-width;
		&.xprez-photo-connect-false {
			max-width: $m-width + $s-space*4;
		}
	}
	&.text-width {
		@include s-width;
		&.xprez-photo-connect-false {
			max-width: $s-width + $s-space*4;
		}
	}
	img { 
		width: 100%; 
		display: block;
	}
	@include clearfix;
}
.xprez-media-caption {
	@include type(15px,1.3,0,1);
	@include type-min(13px,1,0,.5);
	font-style: italic;
	display: block;
	text-align: center;
	padding: .5*$g 10px 0;
	opacity: 0.7;
}
.xprez-photo-item {
	@include boxSizing;
	cursor: pointer;
	.xprez-photo-connect-false & {
		padding: $s-space;
		@media only screen and (max-width: ($g-break-m)) {
			padding: $xs-space;
		}
		.xprez-media-caption {
			//margin-bottom: 0;
		}
	}
}
.xprez-cols-1 {
	.xprez-photo-item {
		width: 100%;
	}
}
.xprez-cols-2 {
	.xprez-photo-item {
		float: left;
		width: 50%;
		&:nth-child(2n+3) { clear: left; }
		@media only screen and (max-width: ($g-break-s)) {
			width: 100%;
		}
	}
}
.xprez-cols-3 {
	.xprez-photo-item {
		float: left;
		width: 33.33%;
		&:nth-child(3n+4) {clear: left;}
		@media only screen and (max-width: ($g-break-m)) {
			width: 50%;
			&:nth-child(3n+4) { clear: none; }
			&:nth-child(2n+3) { clear: left; }
		}
	}
}
.xprez-cols-4 {
	.xprez-photo-item {
		float: left;
		width: 25%;
		&:nth-child(4n+5) {clear: left;}
		@media only screen and (max-width: ($g-break-m)) {
			width: 50%;
			&:nth-child(2n+3) {clear: left;}
		}
	}
}
// .flexboxx .xprez-gallery {

// 	display: -webkit-flex;
// 	display: flex;
// 	-webkit-flex-direction: row;
//    	flex-direction: row;
//    	-webkit-flex-wrap: wrap;
//    	flex-wrap: wrap;
// 	-webkit-justify-content: space-between;
// 	justify-content: space-between;
// 	-webkit-align-items: flex-start;
// 	align-items: flex-start;
	
// 	.xprez-photo-item {
// 		padding: 0;
// 	}
// 	&.xprez-photo-connect-false {
// 		.xprez-photo-item { 
// 			margin: $g 0;
// 			@media only screen and (max-width: ($g-break-m)) {
// 				margin: $g 0;
// 			}
// 		}
// 		&.xprez-cols-2 {
// 			.xprez-photo-item { width: 49%; }
// 		}
// 		&.xprez-cols-3 {
// 			.xprez-photo-item { 
// 				width: 32%; 
// 			}
// 		}
// 		&.xprez-cols-4 {
// 			.xprez-photo-item { width: 24%; }
// 		}
// 	}
// 	&.xprez-photo-connect-true {
// 		&.xprez-cols-3 {}
// 	}
// }

