<div
    class="xprez-admin-multi-item"
    data-component="xprez-multi-module-item"
    data-js-controller-class="{{ module.admin_item_js_controller_class }}"
    data-mode=""
>
    {% include "xprez/admin/includes/delete_info.html" with component_prefix="xprez-multi-module-item" %}
    {% block item_header %}
        <div class="xprez-admin-multi-item__header">
            <span class="xprez-admin-multi-item__header-handle" data-draggable-multi-module-item-handle>{% include "xprez/admin/icons/grip.html" %}</span>
            <div class="xprez-admin-multi-item__header-text">{% block item_header_main_text %}{% endblock %}</div>
            <span class="xprez-icon-btn" title="Remove" data-component="xprez-multi-module-item-delete" data-target-prefix="{{ item.key }}">
                <i class="xprez-icon-delete"></i>
                <span data-hidden>{{ item.admin_form.delete }}</span>
            </span>
        </div>
    {% endblock %}

    {% block item_content %}
        <div class="xprez-admin-multi-item__fields">
            {% include "xprez/admin/form/errors.html" with errors=item.admin_form.non_field_errors %}
            {% block item_fields %}
                {% for field in item.admin_form.get_main_fields %}
                    <div class="xprez-option-row">{% include "xprez/admin/form/row.html" with field=field %}</div>
                {% endfor %}
            {% endblock %}
        </div>
    {% endblock %}

    <div data-component="xprez-multi-module-item-form" data-hidden>
        {% block item_hidden %}
            <input type="hidden" name="item-id" value="{{ item.pk }}">
        {% endblock %}
    </div>
</div>
