<div class="js-item xprez-multi-module-item {% block item_root_extra_class %}xprez-form-table{% endblock %}" data-item-pk="{{ item.pk }}" data-mode="">
    <div class="xprez-delete-info" data-component="xprez-multi-module-item-delete-info">
        This item will be deleted when you save the changes.
        <span class="xprez-btn xprez-btn__danger" data-component="xprez-multi-module-item-undelete">undelete</span>
    </div>
    {% block item_header %}
        <div class="xprez-multi-module-item-header">
            <span class="xprez-icon-btn-move js-item-handle">drag</span>
            <span class="xprez-icon-btn" title="Remove" data-component="xprez-multi-module-item-delete" data-target-prefix="{{ item.key }}">
                <i class="xprez-icon-delete"></i>
                <span data-hidden>{{ item.admin_form.delete }}</span>
            </span>
        </div>
    {% endblock %}

    {% block item_content %}
        {% block item_fields %}
            {% for field in item.admin_form %}
                {% if field.name != "delete" %}
                    {% include "xprez/admin/form/row.html" with field=field %}
                {% endif %}
            {% endfor %}
        {% endblock %}
    {% endblock %}

    <div data-component="xprez-multi-module-item-form" data-hidden>
        {% block item_hidden %}
            <input type="hidden" name="item-id" value="{{ item.pk }}">
        {% endblock %}
    </div>
</div>
