{% extends "xprez/admin/modules/base.html" %}

{% block content %}
{% block testovacka %}{% endblock %}
    {{ block.super }}
    {% block add_item %}
        <div class="xprez-admin-adder" data-component="xprez-adder-multi-module">
            <span
                type="button"
                class="xprez-btn xprez-btn-transparent xprez-admin-adder__add-item"
                data-component="xprez-add-item"
                data-url="{% url module.xprez_add_item_url_name module.pk %}"
            >
                <i class="xprez-icon-plus_square_20"></i>Add item
            </span>
        </div>
    {% endblock %}
    <div class="xprez-admin-multi-items" data-component="xprez-multi-module-items">
        {% for item in module.admin_form.xprez_items %}
            {% include module.admin_item_template_name %}
        {% endfor %}
    </div>
{% endblock %}
