.xprez-option__file-input {
    display: flex;
    align-items: center;
    padding: .35rem 0;
    margin-left: -.5rem;

    .xprez-admin-text__media-img {
        max-height: 170px;
        max-width: 100%;
    }
}