.xprez-option__file {
	position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    // flex: 1;

    .xprez-option:has(&) {
        
    }

    &-img {
        max-height: 200px;
        width: auto;
        border-radius: var(--x-admin-border-radius-sm);
        margin: .5rem 0;
        display: block;
    }

    &-actions {
        margin-left: auto;
    }
}