.xprez-option {
	display: inline-flex;
	gap: var(--x-admin-option-gap);
	background: var(--x-admin-option-bg);
	color: var(--x-admin-option-color);
	font-size: var(--x-admin-option-font-size);
	line-height: 1;
	align-items: stretch;
	border-radius: var(--x-admin-option-border-radius);
	box-shadow: var(--x-admin-option-box-shadow);
	padding: 0 var(--x-admin-padding-md);
	transition: box-shadow .15s linear;
	position: relative;
	opacity: 0.3;
	text-align: left;
	min-height: var(--x-admin-option-height);
	
	&[data-active="true"] {
		opacity: 1;
	}

	&:has(:focus) {
		box-shadow: var(--x-admin-option-box-shadow-focus);
		opacity: 1;
	}
	
	&:hover {
		opacity: 1;
	}

	// Label

	label {
		flex-basis: max-content;
		padding: var(--x-admin-padding-md) var(--x-admin-option-gap) var(--x-admin-padding-md) 0;
		font-size: inherit;
		display: inline-flex;
		align-items: center;
		gap: var(--x-admin-option-gap);
		color: inherit;

		i[class^="xprez-icon-"] {
			font-size: var(--x-admin-option-icon-size);
			margin: -.5em 0;
		}
	}

	&[data-text-label="false"] {
		label span {
			display: none;
		}
	}

	// Text input

	input[type="text"] {
		font-family: inherit !important;
		font-weight: var(--x-admin-option-input-font-weight) !important;
		font-size: inherit !important;
		background: transparent !important;
		border: none !important;
		text-align: right;
		box-shadow: none !important;
		padding: 0 !important;
		min-width: 20px !important;
		outline: none !important;
		flex: 1;
		line-height: inherit !important;
		color: var(--x-admin-option-input-color) !important;
		width: 100%;
		margin: 0 !important;
		
		&::selection {
			background-color: var(--x-admin-option-selection-bg, 0.2);
		}
	}

	// Checkbox

	input[type="checkbox"] {
		appearance: none;
		padding: 0 !important;
		position: absolute;
		right: 0;
		top: 0;
		width: var(--x-admin-option-button-size);
		height: 100%;
		margin: 0;

		&:focus {
			outline: none !important;
		}
	}

	&:has(input[type="checkbox"]) {
		--x-admin-checkbox-icon: '\e90d';
		--x-admin-checkbox-color: var(--x-admin-option-color);
		--x-admin-checkbox-bg: var(--x-admin-option-bg);

		padding-right: 0;
		color: var(--x-admin-checkbox-color);
		background: var(--x-admin-checkbox-bg);

		&:after {
			@include xprez-icon;
			content: var(--x-admin-checkbox-icon);
			width: var(--x-admin-option-button-size);
			height: var(--x-admin-option-button-size);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 20px;
			margin-left: -10px;
		}

		label {
			flex: 1;
		}
	}

	&:has(input[type="checkbox"]:checked) {
		--x-admin-checkbox-icon: '\e910';

		color: var(--x-admin-checkbox-checked-color, var(--x-admin-option-input-color));
		background: var(--x-admin-checkbox-checked-bg, var(--x-admin-checkbox-bg));
	}

	// Toggle

	&:has(input[type="checkbox"]):has(.x-variant-checked) {
		--x-admin-checkbox-bg: transparent;
		--x-admin-checkbox-checked-bg: transparent;

		box-shadow: none;
		padding: 0;
		align-items: center;
		cursor: pointer;
		height: var(--x-admin-option-height);
		width: var(--x-admin-option-height);
		min-height: 0;

		&:after {
			display: none !important;
		}

		&:hover {
			background-color: var(--x-admin-option-hover-bg, $b-gray-4);
		}

		label {
			padding: 0;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: var(--x-admin-border-radius-sm);
		}

		input {
			cursor: pointer;
		}
	}

	&:has(input[type="checkbox"]:checked) {
		.x-variant-unchecked {
			display: none;
		}
	}

	&:has(input[type="checkbox"]:not(:checked)) {
		.x-variant-checked {
			display: none;
		}
	}

	// Select

	&:has(select) {
		label {
			padding-right: 0;
		}
	}

	&__dropdown {
		display: inline-flex;
		align-items: center;
		flex: 1;

		select {
			// appearance: none;
			height: var(--x-admin-option-height);
			flex-basis: 100%;
			box-sizing: border-box;
			display: inline-flex;
			border: none !important;
			padding: var(--x-admin-padding-sm) var(--x-admin-option-gap) !important;
			font-size: inherit !important;
			font-family: inherit;
			line-height: 1 !important;
			font-weight: var(--x-admin-option-input-font-weight) !important;
			margin: 0 !important;
			// text-align: right;

			
			&:after {
				content: '\e906';
				display: inline-block;
				@include xprez-icon;
			}

			&:focus {
				outline: none !important;
			}

			option {
				width: max-content;
			}
		}
	}


	// Elements

	&__suffix {
		flex-basis: max-content;
		display: inline-flex;
		align-items: center;
	}

	&__btn-spacer {
		width: var(--x-admin-option-height);
	}

	// Modificators

	&--marker:has(input[type="checkbox"]) {
		// --x-admin-checkbox-bg: var(--x-admin-marker-bg);
		// --x-admin-checkbox-color: var(--x-admin-marker-color);
		--x-admin-checkbox-checked-bg: var(--x-admin-marker-checked-bg);
		--x-admin-checkbox-checked-color: var(--x-admin-marker-checked-color);

    }

	&--transparent {
		background: transparent;
		box-shadow: none;

		select, input {
			background: transparent !important;
		}
	}
}