xprez-option {
	display: inline-flex;
	gap: var(--x-admin-option-gap);
	background: var(--x-admin-option-bg);
	color: var(--x-admin-option-color);
	font-size: var(--x-admin-option-font-size);
	line-height: 1;
	align-items: baseline;
	border-radius: var(--x-admin-option-border-radius);
	box-shadow: var(--x-admin-box-shadow-sm);
	padding: 0 var(--x-admin-padding-md);

	label {
		flex-basis: max-content;
		padding: var(--x-admin-padding-md) 0;
	}

	input[type="text"] {
		background: transparent !important;
		border: none !important;
		text-align: right;
		box-shadow: none !important;
		padding: var(--x-admin-padding-sm) 0 !important;
		min-width: 20px !important;
		outline: none !important;
		flex: 1;
		font-weight: var(--x-admin-option-input-font-weight) !important;
		font-size: inherit !important;
		line-height: inherit !important;
		color: var(--x-admin-option-input-color) !important;

		&[size="sm"] {
			width: 25px !important;
		}

		&[size="md"] {
			width: 60px !important;
		}
	}


	xprez-option-suffix {
		flex-basis: max-content;
		display: inline-flex;
		align-items: center;
	}
}


.xprez-module {
	&__options {
		// background: $b-gray-2;
		text-align: center;
		line-height: 28px;
		padding: 0 var(--x-admin-padding-md) var(--x-admin-padding-md);

		&.hidden {
			display: none;
		}

		li {
			margin: .5rem 0;
		}
	}

	&__common-options {
		background: darken($b-gray-2, 2%);
	}
}