{% extends "xprez/admin/form/fields/base.html" %}
{% load xprez_admin %}

{% block js_controller_class %}XprezFileInputFieldController{% endblock %}

{% block field %}
    {% with widget=field|xprez_widget_context %}
        <div class="xprez-option__file-input">
            <label
                class="xprez-icon-btn xprez-option__file-input-upload-btn"
                title="Add file"
                data-component="xprez-file-input-add-btn"
                {% if widget.is_initial %}data-hidden{% endif %}
            >
                {% include "xprez/shared/icons/cloud_arrow_up.html" %}
                {% if not widget.is_initial %}
                    <input type="{{ widget.type }}" name="{{ widget.name }}"{% for name, value in widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
                {% endif %}
                <span class="xprez-option__file-input-upload-btn-text">{% trans "Add file" %}</span>
            </label>
        
            <div
                class="xprez-admin-file-input__media-cont"
                data-component="xprez-file-input"
                data-mode=""
                {% if not widget.is_initial %}data-hidden{% endif %}
                {% if widget.is_initial %}data-has-saved-file{% endif %}
            >
                <div class="xprez-admin-file-input__img-cont">
                    {% with thumb=widget.value|xprez_file_thumbnail %}
                        {% if not thumb %}
                            <span class="xprez-admin-file-input__media-file-icon">
                                {% include "xprez/shared/icons/paperclip.html" %}
                            </span>
                        {% endif %}
                        <img
                            class="xprez-admin-file-input__media-img"
                            data-component="xprez-file-input-img"
                            {% if thumb %}src="{{ thumb.url }}"{% else %}data-hidden{% endif %}
                        />
                        <span
                            class="xprez-admin-file-input__media-file-name"
                            data-component="xprez-file-input-filename"
                            {% if thumb or not widget.value %}data-hidden{% endif %}
                        >
                            {{ widget.value|xprez_file_name }}
                        </span>
                    {% endwith %}
                </div>
                <div class="xprez-admin-file-input__media-actions">
                    <label class="xprez-icon-btn" title="Replace" data-component="xprez-file-input-replace-btn">
                        {% include "xprez/shared/icons/repeat.html" %}
                        {% if widget.is_initial %}
                            <input type="{{ widget.type }}" name="{{ widget.name }}"{% for name, value in widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
                        {% endif %}
                    </label>
                    {% if not widget.required %}
                        <span class="xprez-icon-btn" title="Remove" data-component="xprez-file-input-delete-trigger">
                            <i class="xprez-icon-delete"></i>
                            <span data-hidden>
                                <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
                            </span>
                        </span>
                    {% endif %}
                </div>
                {% include "xprez/admin/includes/delete_info.html" with component_prefix="xprez-file-input" message_subject="file" %}
            </div>
        </div>
    {% endwith %}
{% endblock %}
