{% extends "xprez/admin/form/fields/base.html" %}
{% load xprez_admin %}

{% block field %}
    {% with widget=field|xprez_widget_context %}
        <span class="xprez-option__file">
            <div class="xprez-file__input">
                <input type="{{ widget.type }}" name="{{ widget.name }}"{% for name, value in widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
            </div>
            {% if widget.is_initial %}
                <div class="xprez-file__current">
                    {{ widget.initial_text }}: {% include "xprez/includes/file_preview.html" with value=widget.value %}
                </div>
                {% if not widget.required %}
                    <div class="xprez-file__clear">
                        <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}{% if widget.attrs.checked %} checked{% endif %}>
                        <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
                    </div>
                {% endif %}
            {% endif %}
        </span>
    {% endwith %}
{% endblock %}
