<div
    class="xprez-content"
    data-mode="{# edit #}{# select #}"
    data-component="xprez-content"
    {# data-id="{{ content.pk }}" #}
    data-prefix="{{ content.admin_form.prefix }}"
    data-js-controller-class="{{ content.js_controller_class }}"
>
    <div class="xprez-content__header">
        <div class="xprez-content__name">
            <span class="xprez-content__name-icon">
                {% include "xprez/admin/icons/contents/text.html" %}
            </span>
            <div class="xprez-option" data-active="true">
                <label >
                    <i class="xprez-icon-check_circle_outline_small x-variant-unchecked"></i>
                    <i class="xprez-icon-check_circle_small x-variant-checked"></i>
                </label>
                <input type="checkbox" checked>
            </div>
            <span class="xprez-option-group__title-text">{{ content.verbose_name }}</span>
        </div>

        <div class="xprez-content__actions">
            {% block actions %}
                <span class="xprez-icon-btn" title="Copy">
                    <i class="xprez-icon-copy"></i>
                </span>
                <span class="xprez-icon-btn" title="Settings" data-component="xprez-content-popover-trigger">
                    <i class="xprez-icon-settings" data-id="{{ content.pk }}"></i>
                </span>
            {% endblock %}
        </div>

        <div class="xprez-content__actions xprez-content__actions--right">
            <span class="xprez-icon-btn" title="Delete">
                <i class="xprez-icon-delete"></i>
            </span>
        </div>
    </div>

    <div class="xprez-content__body">
        {% block content %}
            <div class="xprez-form-table">
                {% if content.preview_image %}
                    <img src="{% static content.preview_image %}" alt="" class="xprez-module__preview-image">
                {% endif %}
                {% block main_fields %}
                    {% for field in content.admin_form.main_fields %}
                        {% include 'xprez/admin/form/row.html' with field=field%}
                    {% endfor %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    <div popover="manual" class="xprez-popover" data-component="xprez-content-popover">
        <div class="xprez-popover__content">
            {% include "xprez/admin/dev/text_option_group.html" %}
        </div>
    </div>

    {% block hidden_fields %}
        <input type="hidden" name="content-id" value="{{ content.pk }}">
        {{ content.admin_form.position.as_hidden }}
        {{ content.admin_form.section.as_hidden }}
        {% comment %} {{ content.admin_form.visible }} {% endcomment %}
        {% comment %} {{ content.admin_form.css_class }} {% endcomment %}
        {% comment %} {{ content.admin_form.background_color }} {% endcomment %}
        {% comment %} {{ content.admin_form.alternate_color }} {% endcomment %}
        {% comment %} {{ content.admin_form.margin_bottom }} {% endcomment %}
        {% comment %} {{ content.admin_form.padding_top }} {% endcomment %}
        {% comment %} {{ content.admin_form.padding_bottom }} {% endcomment %}
    {% endblock %}
</div>
