<div class="xprez-module {% if content.admin_has_errors %}xprez-module--error{% endif %} js-content js-content-{{ content.pk }} {% block extra_class %}{% endblock %}" data-pk="{{ content.pk }}">
    {% block js %}{% endblock %}
    <div style="display: none;">
        {% block hidden_form %}
            {{ content.admin_form.position }}
            {{ content.admin_form.delete }}
            {{ content.admin_form.visible }}

        {% endblock %}
    </div>
    <div class="xprez-module__title js-sortable-handler">
        <span class="xprez-icon-btn-collapse js-collapser" title="Collapse"></span>
        <span style="float: right;" class="xprez-option-btn js-checkbox_controller" data-formfield_selector="#id_content-{{ content.pk }}-visible">Visible</span> {# todo: kaplik #}
        <span class="xprez-icon-btn-remove js-delete-content" data-pk="{{ content.pk }}" data-url="{% url 'admin:ajax_delete_content' content.pk %}" title="Remove"></span>
        <span class="xprez-icon-btn-copy js-copy-content" data-pk="{{ content.pk }}" data-url="{% url 'admin:ajax_copy_content' content.pk %}" title="Copy and paste the module to the end"></span>

        <h2>{{ content.verbose_name }}</h2>
    </div>
    <div class="xprez-module__collapse-cont">
        <div class="xprez-module__options {% block options_class %}{% endblock %}">
            {% block options %}

            {% endblock %}
        </div>

        <div class="xprez-module__content">
            {% block errors %}
                {% if content.admin_form.non_field_errors %}
                    <ul class="xprez-error-list">
                        {% for error in content.admin_form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>