{% extends 'xprez/admin/contents/base.html' %}

{% block options %}
    <ul class="xprez-module__options-group js-select_controller" data-formfield_selector="#id_content-{{ content.pk }}-width">
        <li><span class="xprez-option-btn js-option" data-formfield_value="{{ content.SIZE_FULL }}">Full width</span></li>
        <li><span class="xprez-option-btn js-option" data-formfield_value="{{ content.SIZE_MID }}">Mid width</span></li>
        <li><span class="xprez-option-btn js-option" data-formfield_value="{{ content.SIZE_TEXT }}">Text width</span></li>
    </ul>
    <ul class="xprez-module__options-group">
        <li><span class="xprez-option-btn js-checkbox_controller" data-formfield_selector="#id_content-{{ content.pk }}-box">Box</span></li>
    </ul>
    <ul class="xprez-module__options-group">
        <li><span class="xprez-icon-btn-align-center js-checkbox_controller" data-formfield_selector="#id_content-{{ content.pk }}-content_centered" title="Centered content"></span></li>
    </ul>
{% endblock %}

{% block content %}
    {{ content.admin_form.text }}
{% endblock %}

{% block hidden_form %}
    {{ block.super }}
    {{ content.admin_form.width }}
    {{ content.admin_form.box }}
    {{ content.admin_form.content_centered }}
{% endblock %}
