{% extends 'xprez/admin/contents/base.html' %}

{% block common_options_wrapper %}{% endblock %}
{% block options_wrapper %}{% endblock %}
{% block btn_copy_content %}{% endblock %}
{% block btn_options %}{% endblock %}

{% block content %}
	<div class="xprez-module__content-info">
		{% if content.symlink %}
			{% include "xprez/admin/icons/clipboard_item.html" %} <strong>{{ content.symlink.polymorph.verbose_name }}</strong> from {% include "xprez/admin/icons/page.html" %}
			<strong>{{ content.symlink.page.polymorph }}</strong>
		{% else %}
			<div class="xprez-warning">Linked content not found.</div>
		{% endif %}
	</div>
{% endblock %}
