.sortable-ghost {
    opacity: 0.4;
    border: 1px dashed orange;
}

.sortable-drag {
    border: 1px dashed blue;
    opacity: 0.8;
}

.xprez-section__header,
.xprez-module__header {
    cursor: grab;
}

.xprez-section__header:active,
.xprez-module__header:active {
    cursor: grabbing;
}