{% block module %}
{{ module.render_css_classes }} {# TODO: remove #}
<div
    id="{{ module.key }}"
    class="{% block css_class %}{{ module.render_css_classes }} {{ module.css_class|default:'' }}{% endblock %}"
    {% block attrs  %}{% endblock %} >
        {{ module.render_css_variables|safe }}
        <div class="xprez-module-inner">
            <div class="debug-info">{{ module.render_css_variables }}</div>
            {% block content %} {% endblock %}
        </div>
</div>
{% endblock %} {% block js %} {% endblock %}
