{% extends "xprez/modules/base.html" %}
{% load i18n %}

{% block content %}
    {% comment %} {% trans "Files" as default_title %}
    <h3>{{ module.title|default:default_title }}</h3> {% endcomment %}
    {% if module.title %}
        <h4>{{ module.title }}</h4>
    {% endif %}
    {% for item in items %}
        <p class="xprez-files__item">
            <a href="{{ item.file.url }}" class="xprez-files__link" download="{{ item.get_description }}{% if item.get_extension %}.{{ item.get_extension }}{% endif %}">
                {% include "xprez/admin/icons/download.html" %}
                <span class="xprez-files__description">{{ item.get_description }} </span>
                <span class="xprez-files__extension">{% if item.get_extension %}{{ item.get_extension }}{% endif %}</span>
            </a>
        </p>
    {% endfor %}
{% endblock %}
