{% extends "xprez/modules/base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block css_class_extra %}js-content-{{ module.pk }}{% endblock %}

{% block content %}
    <h3>{{ module.title|default:"Files" }}</h3>
    {% for item in module.items.all %}
        <div class="xprez-download-item">
            <div class="xprez-download-btn">
                <a href="{{ item.file.url }}" class="btn btn-secondary btn-download" download="{{ item.get_description }}{% if item.get_extension %}.{{ item.get_extension }}{% endif %}">{% trans "Download" %} {{ item.get_extension }}</a>
            </div>
            <div class="xprez-download-item-name">{{ item.get_description }}</div>
        </div>
    {% endfor %}
{% endblock %}
