{% extends "xprez/modules/base.html" %}
{% load thumbnail xprez %}

{% block attrs %}{% if module.lightbox %}data-photoswipe-url="{% url 'xprez:photoswipe' %}"{% endif %}{% endblock %}

{% block content %}
    {% for item in items %}
        {% with alt=item.alt_text|default:item.description geoms=item.srcset_geometries %}
        <figure class="xprez-gallery__item-cont{% if module.lightbox %} js-photo{% endif %}"
            {% if module.lightbox %}
                {% thumbnail item.file "2000x2000" upscale=false format="WEBP" quality=90 filename_stem=alt as thumb %}
                data-original_url="{{ thumb.url|build_absolute_uri }}"
                data-original_width="{{ thumb.width }}"
                data-original_height="{{ thumb.height }}"
                {% endthumbnail %}
                data-title="{{ item.description }}"
            {% endif %}
            data-alt="{{ alt }}"
        >
            <img class="xprez-gallery__item-img" alt="{{ alt }}"
                {% thumbnail item.file geoms.0 crop=module.thumbnail_crop format="WEBP" quality=70 filename_stem=alt as t_src %}
                    src="{{ t_src.url|build_absolute_uri }}"
                    width="{{ t_src.width }}"
                    height="{{ t_src.height }}"
                {% endthumbnail %}
                srcset="{% for geom in geoms %}{% thumbnail item.file geom crop=module.thumbnail_crop format="WEBP" quality=70 filename_stem=alt as t %}{{ t.url|build_absolute_uri }} {{ t.width }}w{% if not forloop.last %}, {% endif %}{% endthumbnail %}{% endfor %}"
                sizes="{{ module.image_sizes }}" />
            {% if item.description %}
                <figcaption class="xprez-gallery__item-caption">{{ item.description }}</figcaption>
            {% endif %}
        </figure>
        {% endwith %}
    {% endfor %}
{% endblock %}
