{% extends "xprez/modules/base.html" %}
{% load thumbnail xprez %}

{% block css_class %}{{ block.super }} js-content-{{ module.pk }} js-gallery{% endblock %}

{% block content %}
    {% for item in module.items.all %}
        {% with alt=item.alt_text|default:item.description geoms=item.get_srcset_geometries %}
        <div class="xprez-photo-item js-photo"
            {% thumbnail item.file "2000x2000" upscale=false format="WEBP" quality=90 filename_stem=alt as thumb %}
            data-original_url="{{ thumb.url|build_absolute_uri }}"
            data-original_width="{{ thumb.width }}"
            data-original_height="{{ thumb.height }}"
            {% endthumbnail %}
            data-title="{{ item.description }}"
            data-alt="{{ alt }}"
        >
            {% thumbnail item.file geoms.0 crop=module.thumbnail_crop format="WEBP" quality=70 filename_stem=alt as t_src %}
            <img class="xprez-photo" alt="{{ alt }}"
                src="{{ t_src.url|build_absolute_uri }}"
                {% endthumbnail %}
                srcset="{% for geom in geoms %}{% thumbnail item.file geom crop=module.thumbnail_crop format="WEBP" quality=70 filename_stem=alt as t %}{{ t.url|build_absolute_uri }} {{ t.width }}w{% if not forloop.last %}, {% endif %}{% endthumbnail %}{% endfor %}"
                sizes="{{ module.get_image_sizes }}"
            />
            {% if item.description %}
                <span class="xprez-media-caption">{{ item.description }}</span>
            {% endif %}
        </div>
        {% endwith %}
    {% endfor %}
{% endblock %}
