{% extends "xprez/modules/base.html" %}
{% load i18n %}

{% load xprez %}

{% block content %}
    {% for item in items %}
        {% if item.number %}
            <div class="xprez-numbers-item" data-numbers-item>
                <div class="xprez-numbers-number">
                    <span class="xprez-numbers-digits" data-numbers-counter>{{ item.number_intcomma }}</span>{% if item.suffix %}<span class="xprez-numbers-suffix">{{ item.suffix }}</span>{% endif %}
                </div>
                <div class="xprez-numbers-title">{{ item.caption }}</div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
