{% extends "xprez/modules/text_base.html" %}
{% load thumbnail xprez %}

{% block attrs  %}
    {{ block.super }}
    {% if module.url %}
    onclick="if (event.target.closest('a, button')) return; window.location.href='{{ module.url }}';"
    {% endif %}
{% endblock %}

{% block content %}
    {{ module.background }}
    {% if module.media %}
        <div class="xprez-text__image-wrapper">
            {% if module.media_is_image %}
                {% include "xprez/includes/responsive_image/picture.html" with image=module.media sources=module.media_image_sources sizes=module.image_sizes alt=module.media.name css_class="xprez-text__image" loading="lazy" %}
            {% elif module.media_is_video %}
                <video class="xprez-text__image" data-observer-autoplay muted loop playsinline preload="metadata">
                    <source src="{{ module.media.url }}" type="{{ module.media_mime_type }}">
                </video>
            {% else %}
                <img class="xprez-text__image" src="{{ module.media.url }}" alt="{{ module.media.name }}" loading="lazy">
            {% endif %}
        </div>
    {% endif %}
    {% if module.text %}
        <div class="xprez-text__text-wrapper">{{ block.super }}</div>
    {% endif %}
{% endblock %}
