<div class="xprez-option-group" data-component="xprez-content-config" {% if config.is_default %}data-is-default{% endif %}>
    <div class="xprez-option-group__title">
        <div class="xprez-option" data-active="true" data-text-label="false">
            <label for="{{ config.admin_form.visible.id_for_label }}">
                <i class="xprez-icon-eye x-variant-checked"></i>
                <i class="xprez-icon-eye_slash x-variant-unchecked x-color-danger"></i>
                <span>Visible</span>
            </label>
            {{ config.admin_form.visible }}
        </div>
        <span class="xprez-option-group__title-text">{{ config.get_css_breakpoint_display|safe }}</span>
        {% if not config.is_default %}
            <span class="xprez-icon-btn" title="Remove breakpoint">
                <i class="xprez-icon-delete"></i>
            </span>
        {% endif %}
    </div>

    <div class="xprez-option-group__subtitle">Grid</div>

    {% block fields %}
        <div class="xprez-option-row">
            {% include "xprez/admin/form/field.html" with field=config.admin_form.colspan flex=1 %}
            {% include "xprez/admin/form/field.html" with field=config.admin_form.rowspan flex=1 %}
        </div>
        <div class="xprez-option-row">
            {% include "xprez/admin/form/field.html" with field=config.admin_form.vertical_align label=False icon="xprez-icon-vertical" flex=1 %}
            {% include "xprez/admin/form/field.html" with field=config.admin_form.horizontal_align label=False icon="xprez-icon-horizontal" flex=1 %}
        </div>
    
        {% block extra_fields %}
            {% for field in config.admin_form.get_extra_fields %}
                {% include "xprez/admin/form/field.html" with field=field %}
            {% endfor %}
        {% endblock %}
    {% endblock %}
</div>