$white: #FFF !default;
$black: #1E1E21 !default;
$b-gray-1: #F8F9FA !default;
$b-gray-2: #F6F7F8 !default;
$b-gray-3: #E9ECEF !default;
$b-gray-4: #DEE2E6 !default;
$b-gray-5: #CED4DA !default;
$b-gray-6: #ADB5BD !default; 
$b-gray-7: #706E6E !default;
$b-gray-8: #343A40 !default;
$b-purple: #7950F2 !default;
$b-blue: #359CBA !default;
$b-blue-high: #1D5EC7 !default;
$b-red: #D10420 !default;
$b-pink: #DD4FDF !default;

$admin-bg: #edeff1 !default;
$admin-color: #343A40 !default;
$admin-ui-font-family: 'Roboto', sans-serif !default;
$admin-ui-font-size: 14px !default;
$admin-ui-font-size-sm: 12px !default;
$xprez-max-width: unset !default;
$xprez-min-width: 320px !default;
$g-b: 16px !default; // grid spacing