{% extends 'xprez/admin/modules/base.html' %}
{% block options_class %}hidden{% endblock %}

{% block content %}

    {% block dropzone %}
        <div
            class="js-dropzone js-dropzone-{{ module.pk }} xprez-gallery__dropzone"
            data-module_pk="{{ module.pk }}"
            data-uploadurl="{% block upload_url %}{{ module.get_upload_url_name }}{% endblock %}"
        >
            Drop files here or click to choose files from disk<br>
        </div>
    {% endblock %}

    <div class="xprez-form-table xprez-title-form-table">
        {% include 'xprez/admin/form/row.html' with field=module.admin_form.title %}
    </div>

    <div class="js-item-container" data-module_pk="{{ module.pk }}">
        {% for item in module.attachments.all %}
            {% include module.admin_formset_item_template_name with number=forloop.counter0 %}
        {% endfor %}
    </div>
{% endblock %}

{% block errors %}
    {{ block.super }}
    {% if module.formset.total_error_count > 0 %}
        {{ module.formset.errors }}
    {% endif %}
{% endblock %}

{% block hidden_fields %}
    {# {{ module.admin_form.visible }} #}
    {# {{ module.admin_form.position }} #}
    {{ block.super }}
    <div class="js-item-formset">
        {{ module.formset }}
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            var $container = $('.js-content-{{ module.pk }}');
            activateAjaxUploadFormset($container, '{{ module.key }}-items');
        });
    </script>
{% endblock %}
