<div class="xprez-option-row" >
    <div class="xprez-option xprez-option--transparent" data-size="flex-1" data-active="true" data-text-label="false">
        <label for="h_align">
            <i class="xprez-icon-plus_square_20"></i>
            <span>Add breakpoint</span>
        </label>
        <span class="xprez-option__dropdown">
            <select class="xprez-option__select" id="add_breakpoint">
                <option value="">Add breakpoint</option>
                {% for id, data in xprez_admin.xprez_breakpoints.items %}
                    <option value="{{ id }}" disabled data-url="{% url xprez_admin.xprez_add_section_config_url_name section.pk id %}">{{ data.name|safe }}</option>
                {% endfor %}
            </select>
        </span>
    </div>
</div>
