{% load xprez_admin %}
{% xprez_clipboard_is_empty xprez_admin request as clipboard_is_empty %}

<ul
    class="xprez-add-list"
    data-component="{{ component_name }}"
    {{ attributes|default:"" }}
>
    <li
        class="js-xprez-clipboard-list-trigger xprez-add-list__paste"
        {% if clipboard_is_empty %}data-hidden{% endif %}
    >
        <span class="xprez-icon">{% include "xprez/admin/icons/paste.html" %}</span>
        <span>Paste from clipboard</span>
    </li>

    {% for module in allowed_modules %}
        <li
            data-component="xprez-add-item"
            {% if add_list_section %}
                data-url="{% url xprez_admin.xprez_add_url_name module.class_content_type add_list_section.container.pk add_list_section.pk %}"
            {% elif add_list_container %}
                data-url="{% url xprez_admin.xprez_add_url_name module.class_content_type add_list_container.pk %}"
            {% endif %}
        >
            {{ module.icon }}
            <span>{{ module.verbose_name }}</span>
        </li>
    {% endfor %}
</ul>
