<div class="xprez-icon-btn xprez-submenu__toggle" title="Copy" data-controller="{{ copy_menu_controller }}">
    <i class="xprez-icon-copy"></i>
    <div class="xprez-submenu">
        <div
            data-xprez-duplicate-trigger
            data-controller="{{ duplicate_controller }}"
            data-url="{{ duplicate_url }}"
        >
            {% include "xprez/shared/icons/repeat.html" %} Duplicate
        </div>
        <div
            class="xprez-clipboard-clip"
            data-controller="XprezClipboardClip"
            data-url="{{ clipboard_url }}"
        >
            {% include "xprez/shared/icons/paste.html" %}
            <span class="xprez-inline-success-message">{% include "xprez/shared/icons/checkmark.html" %} Clipped</span>
            <span class="default">Clip</span>
        </div>
    </div>
</div>
