{% block content %}
<div class="{% block css_class_cont %}xprez-module-cont xprez-module-margin-bottom-{{ content.margin_bottom }} xprez-module-padding-top-{{ content.padding_top }} xprez-module-padding-bottom-{{ content.padding_bottom }}  {{ content.css_class|default:'' }} {% if content.alternate_color %}xprez-module-alternate-color{% endif %}{% endblock %}"
     {% if content.background_color %}style="background-color: {{ content.background_color }};"{% endif %}
>
    <div
        class="{% block css_class %}xprez-module {% block css_class_extra %}{% endblock %}{% endblock %}"
        {% block attrs_extra %}{% endblock %}
    >
        {% block content_in %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block js %} {% endblock %}