{% block content %}
<div class="xprez-module-cont xprez-module-margin-bottom-{{ content.margin_bottom }} xprez-module-padding-top-{{ content.padding_top }} xprez-module-padding-bottom-{{ content.padding_bottom }}  {{ content.css_class|default:'' }}"
     {% if content.background_color %}style="background-color: {{ content.background_color }};"{% endif %}
>
    <div
        class="{% block css_class %}xprez-module {% if content.alternate_color %}xprez-module-alternate-color{% endif %} {% block css_class_extra %}{% endblock %}{% endblock %}"
    >
        {% block content_in %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block js %} {% endblock %}