{% extends 'xprez/contents/base.html' %}


{% block css_class_extra %}
    xprez-text-content  
    {% if content.width %}{{ content.width }}-width{% endif %} 
    {% if content.box %}xprez-text-content-boxed{% endif %} 
    {% if content.content_centered %}xprez-text-content-centered{% endif %}
{% endblock %}

{% block content_in %}
    {% if content.box %}<div class="xprez-text-content-boxed__content">{% endif %}
        {{ parsed_text }}
    {% if content.box %}</div>{% endif %}
{% endblock %}
