{% extends 'xprez/contents/base.html' %}
{% load thumbnail %}
{% block content %}
    <div class="xprez-module xprez-download js-content-{{ content.pk }}">
    	<h3>{{ content.title|default:"Files" }}</h3>
        {% for att in content.attachments.all %}
            <div class="xprez-download-item">
            	<div class="xprez-download-btn">
            		<a href="{{ att.file.url }}" class="btn btn-white" download="{{ att.get_name }}{% if att.get_extension %}.{{ att.get_extension }}{% endif %}">Download {{ att.get_extension }}</a>
            	</div>
            	<h4>{{ att.get_name }}</h4>
            </div>
        {% endfor %}

    </div>
{% endblock %}