{% extends 'xprez/admin/contents/base.html' %}

{% block extra_class %}xprez-module--transparent{% endblock %}

{% block options %}
    <xprez-options-panel>
        <xprez-option>
            <label for="grid-max-width">Grid max width</label>
            <input size="md" type="text" id="grid-max-width" value="Medium">
        </xprez-option>
        <xprez-option>
            <label for="grid-padding">Padding</label>
            <input size="sm" type="text" id="grid-padding" value="2">
            <xprez-option-suffix>rem</xprez-option-suffix>
        </xprez-option>
    </options-panel>
{% endblock %}

{% block content %}
    <div class="js-box-tpl" style="display: none;">
        {% include 'xprez/admin/contents/grid_boxes/box.html' %}
    </div>

    <div class="js-boxes xprez-grid-boxes-admin-grid xprez-form-table">
        {% for box_content in content.boxes %}
            {% include 'xprez/admin/contents/grid_boxes/box.html' %}
        {% endfor %}
    </div>
    <div class="xprez-module__content-buttons">
        <span class="js-add-another xprez-btn xprez-btn-transparent">
            {% include "xprez/admin/icons/plus.html" %} Add another box
        </span>
    </div>
{% endblock %}

{% block hidden_form %}
    {{ content.admin_form }}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            initializeCkEditors($('.js-content-{{ content.pk }} .js-boxes'));
            var $scope = $('.js-content-{{ content.pk }}');
            var boxesCount = {{ content.boxes|length }};
            var contentID = {{ content.pk }};
            initGridBox($scope, contentID, boxesCount);
        });
    </script>
{% endblock %}
