{% extends 'xprez/admin/contents/base.html' %}

{% block extra_class %}xprez-module--transparent{% endblock %}

{% block options %}
    <div class="xprez-option__group">
        <div class="xprez-option" data-active="true">
            <label for="grid-max-width">Grid max width</label>
            <input data-size="md" type="text" id="grid-max-width" value="Medium">
        </div>
        <div class="xprez-option" data-active="true">
            <label for="grid-padding">Padding</label>
            <input data-size="sm" type="text" id="grid-padding" value="2">
            <span class="xprez-option__suffix">rem</span>
        </div>
        <div class="xprez-option" data-active="true">
            <label for="grid-dropdown">Padding</label>
            <span class="xprez-option__dropdown">
                <select class="xprez-option__select" id="grid-dropdown">
                    <option value="full">Full</option>
                    <option value="medium">Medium</option>
                    <option value="small">Small</option>
                    <option value="custom">Custom</option>
                </select>
            </span>
        </div>
        <div class="xprez-option" data-active="true">
            <label for="grid-border">Border</label>
            <input type="checkbox" id="grid-border">
        </div>
    </div>

    <div class="xprez-option__group">
        <div class="xprez-option">
            <label for="grid-max-width2">Grid max width</label>
            <input data-size="md" type="text" id="grid-max-width2" value="Medium">
        </div>
        <div class="xprez-option">
            <label for="grid-padding2">Padding</label>
            <input data-size="sm" type="text" id="grid-padding2" value="2">
            <span class="xprez-option__suffix">rem</span>
        </div>
        <div class="xprez-option">
            <label for="grid-dropdown">Padding</label>
            <span class="xprez-option__dropdown">
                <select class="xprez-option__select" id="grid-dropdown2">
                    <option value="full">Full</option>
                    <option value="medium">Medium</option>
                    <option value="small">Small</option>
                    <option value="custom">Custom</option>
                </select>
            </span>
        </div>
        <div class="xprez-option">
            <label for="grid-border2">Border</label>
            <input type="checkbox" id="grid-border2">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="js-box-tpl" style="display: none;">
        {% include 'xprez/admin/contents/grid_boxes/box.html' %}
    </div>

    <div class="js-boxes xprez-grid-boxes-admin-grid xprez-form-table">
        {% for box_content in content.boxes %}
            {% include 'xprez/admin/contents/grid_boxes/box.html' %}
        {% endfor %}
    </div>
    <div class="xprez-module__content-buttons">
        <span class="js-add-another xprez-btn xprez-btn-transparent">
            {% include "xprez/admin/icons/plus.html" %} Add another box
        </span>
    </div>
{% endblock %}

{% block hidden_form %}
    {{ content.admin_form }}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            initializeCkEditors($('.js-content-{{ content.pk }} .js-boxes'));
            var $scope = $('.js-content-{{ content.pk }}');
            var boxesCount = {{ content.boxes|length }};
            var contentID = {{ content.pk }};
            initGridBox($scope, contentID, boxesCount);
        });
    </script>
{% endblock %}
