.xprez-module {
    grid-row: span var(--x-rowspan, 1);
    grid-column: span var(--x-colspan, 1);
    border-radius: var(--x-border-radius, 0);
    overflow: hidden;

    &-inner {
        padding: var(--x-padding, 0);
    }
}

@each $number, $breakpoint in $breakpoints {
    @media (min-width: $breakpoint) {
        .xprez-#{$number}-box {
            background: var(--x-box-bg);
        }

        .xprez-#{$number}-nobox {
            background: transparent;
        }
    }
}