.x-sticky {
    overflow: visible;

    .xprez-module-inner {
        position: sticky;
        top: 0; 
    }
}

.x-align-button {
    .xprez-module-inner {
        align-self: stretch;
        display: flex;
        flex-direction: column;
    }

    .xprez-text__text-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;

        p:last-child:has(a:only-child) {
            margin-top: auto;
        }
    }
}