.xprez-quote {
    overflow: visible;
    
    &__avatar {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            width: #{$x-quote-avatar-width};
            height: #{$x-quote-avatar-width};
            object-fit: cover;
            overflow: hidden;
            border-radius: 50%;
            flex-shrink: 0;
        }

        &-text {
            & > * {
                margin: 0 !important;
            }
        }
    }

    &__text {
        text-indent: -.3em;
        opacity: #{$x-quote-quote-opacity};
        font-style: #{$x-quote-quote-font-style};
        font-weight: #{$x-quote-quote-font-weight};

        @if $x-quote-show-divider {
            &::after {
                margin-top: 1em;
                margin-bottom: 1em;
                content: "";
                display: block;
                width: $x-quote-divider-width;
                min-width: 6.25em;
                height: $x-quote-divider-height;
                background-color: var(--x-base-line-color);
            }
        }
    }

    &__name {
        font-weight: #{$x-quote-name-font-weight};
    }

    &__job-title {
        opacity: #{$x-quote-subtitle-opacity};
        font-style: #{$x-quote-subtitle-font-style};
    }
}