.xprez-text {
    &__image-wrapper {
        position: relative;

        // LEAD TO EDGE
        margin-top: calc(-1 * var(--x-padding-top, 0));
        margin-right: calc(-1 * var(--x-padding-right, 0));
        margin-left: calc(-1 * var(--x-padding-left, 0));
        margin-bottom: 1rem;
    }

    &__image, img {
        max-width: 100%;
        display: block;
        height: auto;
    }

}