{% load thumbnail xprez %}

<div class="medium-insert-images medium-insert-images-{{ align }} {% if lightbox %}medium-insert-images-lightbox{% endif %}">
    <figure>
        {% if lightbox %}
            {% thumbnail url "1800x1200" format="JPEG" quality=90 as full %}
            <a href="{{ full.url|build_absolute_uri }}">
            {% endthumbnail %}
        {% endif %}
            <img src="{% thumbnail url "427x280" quality=70 as thumb %}{{ thumb.url|build_absolute_uri }}"
                srcset="{{ thumb.url|build_absolute_uri }} 427w,
                    {% endthumbnail %}{% thumbnail url "600x400" quality=70 as thumb %}
                        {{ thumb.url|build_absolute_uri }} 600w,
                    {% endthumbnail %}{% thumbnail url "1000x666" quality=70 as thumb %}
                        {{ thumb.url|build_absolute_uri }} 1000w
                    {% endthumbnail %}"
                sizes="(min-width: 755px) 700px,
                        98vw" 
                />
        {% if lightbox %}
            </a>
        {% endif %}
        {% if caption %}
            <figcaption>
                {{ caption }}
            </figcaption>
        {% endif %}
    </figure>
</div>
