/* Error: Undefined variable.
 *   ,
 * 3 |     margin-bottom: $x-text-content-float-image-margin-bottom;
 *   |                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   styles/scss/frontend/vendor/_ck_editor.scss 3:20  @import
 *   styles/scss/frontend/xprez_frontend.scss 11:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502      margin-bottom: $x-text-content-float-image-margin-bottom;\a   \2502                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   styles/scss/frontend/vendor/_ck_editor.scss 3:20  @import\a   styles/scss/frontend/xprez_frontend.scss 11:9     root stylesheet";
}
