/* vendors */
/* animation */
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@font-face {
  font-family: 'xprez';
  src: url("../fonts/xprez.eot?tihpyk");
  src: url("../fonts/xprez.eot?tihpyk#iefix") format("embedded-opentype"), url("../fonts/xprez.ttf?tihpyk") format("truetype"), url("../fonts/xprez.woff?tihpyk") format("woff"), url("../fonts/xprez.svg?tihpyk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="xprez-icon-"], [class*=" xprez-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xprez' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.xprez-icon-add_circle:before {
  content: "\e147"; }

.xprez-icon-control_point:before {
  content: "\e3ba"; }

.xprez-icon-arrow_right:before {
  content: "\e5c5"; }

.xprez-icon-arrow_down:before {
  content: "\e5c6"; }

.xprez-icon-linked_article:before {
  content: "\e86e"; }

.xprez-icon-cancel:before {
  content: "\e5c9"; }

.xprez-icon-quote:before {
  content: "\e0b7"; }

.xprez-icon-close:before {
  content: "\e5cd"; }

.xprez-icon-code:before {
  content: "\e86f"; }

.xprez-icon-crop:before {
  content: "\e3be"; }

.xprez-icon-delete:before {
  content: "\e872"; }

.xprez-icon-feature_boxes:before {
  content: "\e875"; }

.xprez-icon-done:before {
  content: "\e876"; }

.xprez-icon-numbers:before {
  content: "\e3d4"; }

.xprez-icon-text_content:before {
  content: "\e235"; }

.xprez-icon-video:before {
  content: "\e8da"; }

.xprez-icon-gallery:before {
  content: "\e432"; }

.xprez-icon-text_box:before {
  content: "\e8b0"; }

.xprez-icon-code_template:before {
  content: "\e8be"; }

.xprez-icon-videocam:before {
  content: "\e04b"; }

.xprez-icon-layout_4:before {
  content: "\e42a"; }

.xprez-icon-layout_stream:before {
  content: "\e42b"; }

.xprez-icon-layout_3:before {
  content: "\e8f0"; }

.xprez-icon-layout_2:before {
  content: "\e8f2"; }

.xprez-icon-layout_1:before {
  content: "\e8f3"; }

.xprez-icon-play_arrow:before {
  content: "\e037"; }

.xprez-icon-play_circle_filled:before {
  content: "\e038"; }

.xprez-icon-play_circle_outline:before {
  content: "\e039"; }

.xprez-icon-cloud_download:before {
  content: "\e2c0"; }

.xprez-icon-btn-add-files:before {
  content: "\e226"; }

.xprez-icon-copy:before {
  content: "\e14d"; }

.xprez-gallery__item {
  position: relative;
  display: inline-block;
  width: 220px;
  margin: 0 10px 10px 0; }
  .xprez-gallery__item input[type=text] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 0.72222em;
    line-height: 1.23077em;
    margin-top: 0em;
    margin-bottom: 0em;
    width: 100%;
    padding: 10px 3px;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid transparent; }
    .xprez-gallery__item input[type=text]::-webkit-input-placeholder {
      color: #adb5bd;
      font-style: italic; }
    .xprez-gallery__item input[type=text]::-moz-placeholder {
      color: #adb5bd;
      font-style: italic; }
    .xprez-gallery__item input[type=text]:-ms-input-placeholder {
      color: #adb5bd;
      font-style: italic; }
    .xprez-gallery__item input[type=text]:-moz-placeholder {
      color: #adb5bd;
      font-style: italic; }
    .xprez-gallery__item input[type=text]:hover {
      border-bottom-color: #e9ecef; }
    .xprez-gallery__item input[type=text]:focus {
      border-bottom: 1px solid #006ce7;
      color: #343a40; }
  .xprez-gallery__item .xprez-icon-btn-remove {
    position: absolute;
    right: 0;
    display: none; }
    .xprez-gallery__item .xprez-icon-btn-remove:before {
      color: white; }
    .xprez-gallery__item .xprez-icon-btn-remove:hover {
      background: none; }
      .xprez-gallery__item .xprez-icon-btn-remove:hover:before {
        color: #d10420; }
    .xprez-gallery__item .xprez-icon-btn-remove.active {
      background: #d10420;
      display: block; }
  .xprez-gallery__item:hover .xprez-icon-btn-remove {
    display: block; }

.xprez-gallery__img {
  cursor: move; }

.xprez-gallery__dropzone {
  border: 1px dotted #ced4da;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.88889em;
  line-height: 2em;
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: center;
  padding: 24px 15px;
  color: #adb5bd;
  margin-bottom: 16px;
  cursor: pointer;
  font-style: italic;
  overflow: hidden; }
  .xprez-gallery__dropzone:hover {
    color: #343a40;
    border-color: #006ce7; }

.xprez .dz-preview {
  position: relative;
  display: inline-block;
  margin: 5px 10px 5px 0; }
  .xprez .dz-preview .dz-details, .xprez .dz-preview .dz-success-mark, .xprez .dz-preview .dz-error-mark {
    display: none; }
  .xprez .dz-preview .dz-success-mark svg {
    width: 30px; }
  .xprez .dz-preview .dz-success-mark #Oval-2 {
    fill: green; }
  .xprez .dz-preview .dz-error-mark svg {
    width: 30px; }
  .xprez .dz-preview .dz-error-mark #Oval-2 {
    fill: #d10420; }
  .xprez .dz-preview .dz-image {
    opacity: 0.5; }
  .xprez .dz-preview .dz-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: white;
    border-top: 2px solid white; }
    .xprez .dz-preview .dz-progress .dz-upload {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      background: #006ce7; }

.xprez .dz-processing .dz-image {
  opacity: 1; }

.xprez-module.xprez-module--error {
  border-color: #fb2744; }

.xprez-error-list {
  color: #d10420;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.23077em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-bottom: 16px; }

.xprez-form-table {
  display: table;
  width: 100%; }
  .xprez-form-table label {
    font-size: 12px;
    line-height: 2.66667em;
    margin-top: 0em;
    margin-bottom: 0em;
    color: #868e96; }
  .xprez-form-table + .xprez-form-table {
    margin-top: 16px;
    border-top: 1px solid #dee2e6;
    padding-top: 16px; }
  .xprez-form-table.ui-sortable-helper {
    background: #e9e9e9; }
  .xprez-form-table.ui-sortable-handle {
    cursor: move; }

.xprez-form-row {
  display: table-row; }

.xprez-cell-label {
  display: table-cell;
  width: 120px;
  text-align: right;
  padding: 5px 10px 0 0;
  vertical-align: top; }

.xprez-cell {
  display: table-cell;
  padding: 5px 10px; }
  .xprez-cell label {
    display: inline-block;
    text-align: right;
    padding: 0 5px; }
  .xprez-cell .clearable-file-input {
    padding-left: 10px; }

.xprez-cell-info {
  font-size: 12px;
  line-height: 2.66667em;
  margin-top: 0em;
  margin-bottom: 0em; }

.xprez-multi-field {
  float: left;
  margin-right: 10px; }
  .xprez-multi-field:last-child {
    margin-right: 0; }
  .xprez-multi-field label {
    float: left;
    margin-right: 10px; }

.xprez-multi-field-cell {
  float: left; }

.xprez-sub-info {
  display: block;
  font-size: 11px;
  line-height: 2.18182em;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-left: 5px; }
  .error .xprez-sub-info {
    color: #d10420; }

.xprez-required label:after {
  content: '*';
  margin: 0 0 0 5px;
  position: absolute;
  color: #adb5bd; }

.error input, .error textarea {
  border-color: #d10420; }
input.long, textarea.long {
  width: 500px; }
input.short, textarea.short {
  width: 50px; }

textarea {
  height: 100px; }

.xprez-full-width {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.xprez-m-width {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto; }

.xprez-s-width {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }

.xprez-module {
  clear: both; }

.article-header__cont {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 750px) {
    .article-header__cont {
      padding: 0 25px; } }
  @media only screen and (max-width: 430px) {
    .article-header__cont {
      padding: 0 10px; } }

.xprez-text-content,
.xprez-feature-boxes {
  *zoom: 1; }
  .xprez-text-content:before, .xprez-text-content:after,
  .xprez-feature-boxes:before,
  .xprez-feature-boxes:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .xprez-text-content:after,
  .xprez-feature-boxes:after {
    clear: both; }

.xprez-text-content, .medium-editor,
.xprez-feature-boxes, .medium-editor-simple,
.xprez-download {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 750px) {
    .xprez-text-content, .medium-editor,
    .xprez-feature-boxes, .medium-editor-simple,
    .xprez-download {
      padding: 0 25px; } }
  @media only screen and (max-width: 430px) {
    .xprez-text-content, .medium-editor,
    .xprez-feature-boxes, .medium-editor-simple,
    .xprez-download {
      padding: 0 10px; } }
  .xprez-text-content p, .medium-editor p,
  .xprez-feature-boxes p, .medium-editor-simple p,
  .xprez-download p {
    font-size: 1em;
    line-height: 1.77778em;
    margin-top: 0em;
    margin-bottom: 0.88889em;
    font-family: "acumin-pro", Helvetica, Arial, sans-serif; }
    @media only screen and (max-width: 430px) {
      .xprez-text-content p, .medium-editor p,
      .xprez-feature-boxes p, .medium-editor-simple p,
      .xprez-download p {
        font-size: 0.88889em;
        line-height: 1.5em;
        margin-top: 0em;
        margin-bottom: 1em; } }
  .xprez-text-content h2, .medium-editor h2,
  .xprez-feature-boxes h2, .medium-editor-simple h2,
  .xprez-download h2 {
    font-size: 3.05556em;
    line-height: 1.16364em;
    margin-top: 1.16364em;
    margin-bottom: 0.58182em;
    font-family: "acumin-pro", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.04em;
    margin-left: 0; }
    @media only screen and (max-width: 650px) {
      .xprez-text-content h2, .medium-editor h2,
      .xprez-feature-boxes h2, .medium-editor-simple h2,
      .xprez-download h2 {
        font-size: 2.22222em;
        line-height: 1.2em;
        margin-top: 1.2em;
        margin-bottom: 0.8em; } }
    @media only screen and (max-width: 430px) {
      .xprez-text-content h2, .medium-editor h2,
      .xprez-feature-boxes h2, .medium-editor-simple h2,
      .xprez-download h2 {
        font-size: 1.66667em;
        line-height: 1.33333em;
        margin-top: 1.33333em;
        margin-bottom: 0.8em; } }
    .xprez-text-content h2:first-child, .medium-editor h2:first-child,
    .xprez-feature-boxes h2:first-child, .medium-editor-simple h2:first-child,
    .xprez-download h2:first-child {
      margin-top: 0; }
    .xprez-text-content h2 span, .medium-editor h2 span,
    .xprez-feature-boxes h2 span, .medium-editor-simple h2 span,
    .xprez-download h2 span {
      font-weight: bold !important;
      color: #78747d; }
  .xprez-text-content h3, .medium-editor h3,
  .xprez-feature-boxes h3, .medium-editor-simple h3,
  .xprez-download h3 {
    font-size: 1.66667em;
    line-height: 1.33333em;
    margin-top: 1.6em;
    margin-bottom: 0.53333em;
    font-family: "acumin-pro", Helvetica, Arial, sans-serif;
    padding-left: 0; }
    @media only screen and (max-width: 650px) {
      .xprez-text-content h3, .medium-editor h3,
      .xprez-feature-boxes h3, .medium-editor-simple h3,
      .xprez-download h3 {
        font-size: 1.27778em;
        line-height: 1.3913em;
        margin-top: 1.3913em;
        margin-bottom: 0.69565em; } }
    .xprez-text-content h3:first-child, .medium-editor h3:first-child,
    .xprez-feature-boxes h3:first-child, .medium-editor-simple h3:first-child,
    .xprez-download h3:first-child {
      margin-top: 0; }
  .xprez-text-content h4, .medium-editor h4,
  .xprez-feature-boxes h4, .medium-editor-simple h4,
  .xprez-download h4 {
    font-size: 1em;
    line-height: 1.77778em;
    margin-top: 0em;
    margin-bottom: 0.88889em;
    font-family: "acumin-pro", Helvetica, Arial, sans-serif;
    font-weight: bold; }
    @media only screen and (max-width: 430px) {
      .xprez-text-content h4, .medium-editor h4,
      .xprez-feature-boxes h4, .medium-editor-simple h4,
      .xprez-download h4 {
        font-size: 0.88889em;
        line-height: 1.5em;
        margin-top: 0em;
        margin-bottom: 1em; } }
  .xprez-text-content small, .medium-editor small,
  .xprez-feature-boxes small, .medium-editor-simple small,
  .xprez-download small {
    font-size: 80%; }
  .xprez-text-content ul, .xprez-text-content ol, .medium-editor ul, .medium-editor ol,
  .xprez-feature-boxes ul,
  .xprez-feature-boxes ol, .medium-editor-simple ul, .medium-editor-simple ol,
  .xprez-download ul,
  .xprez-download ol {
    margin: 16px 0;
    padding: 0 0 0 50px; }
    @media only screen and (max-width: 430px) {
      .xprez-text-content ul, .xprez-text-content ol, .medium-editor ul, .medium-editor ol,
      .xprez-feature-boxes ul,
      .xprez-feature-boxes ol, .medium-editor-simple ul, .medium-editor-simple ol,
      .xprez-download ul,
      .xprez-download ol {
        padding-left: 30px; } }
    .xprez-text-content ul li, .xprez-text-content ol li, .medium-editor ul li, .medium-editor ol li,
    .xprez-feature-boxes ul li,
    .xprez-feature-boxes ol li, .medium-editor-simple ul li, .medium-editor-simple ol li,
    .xprez-download ul li,
    .xprez-download ol li {
      font-size: 1em;
      line-height: 1.77778em;
      margin-top: 0em;
      margin-bottom: 0em; }
      @media only screen and (max-width: 430px) {
        .xprez-text-content ul li, .xprez-text-content ol li, .medium-editor ul li, .medium-editor ol li,
        .xprez-feature-boxes ul li,
        .xprez-feature-boxes ol li, .medium-editor-simple ul li, .medium-editor-simple ol li,
        .xprez-download ul li,
        .xprez-download ol li {
          font-size: 0.88889em;
          line-height: 1.5em;
          margin-top: 0em;
          margin-bottom: 1em; } }
  .xprez-text-content .btn, .medium-editor .btn,
  .xprez-feature-boxes .btn, .medium-editor-simple .btn,
  .xprez-download .btn {
    display: inline-block;
    background: #37383c;
    font-size: 0.72222em;
    line-height: 1.84615em;
    margin-top: 0em;
    margin-bottom: 0em;
    font-family: "acumin-pro", Helvetica, Arial, sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    border: none;
    text-transform: uppercase;
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    letter-spacing: 0.1em; }
    @media only screen and (max-width: 430px) {
      .xprez-text-content .btn, .medium-editor .btn,
      .xprez-feature-boxes .btn, .medium-editor-simple .btn,
      .xprez-download .btn {
        padding: 16px 20px; } }
    .xprez-text-content .btn:active, .medium-editor .btn:active,
    .xprez-feature-boxes .btn:active, .medium-editor-simple .btn:active,
    .xprez-download .btn:active {
      transform: scale(0.95); }
    .xprez-text-content .btn:hover, .medium-editor .btn:hover,
    .xprez-feature-boxes .btn:hover, .medium-editor-simple .btn:hover,
    .xprez-download .btn:hover {
      color: #37383c;
      background-color: #d2d2d3; }
    .xprez-text-content .btn.btn-white, .medium-editor .btn.btn-white,
    .xprez-feature-boxes .btn.btn-white, .medium-editor-simple .btn.btn-white,
    .xprez-download .btn.btn-white {
      background: white;
      color: #37383c; }
      .xprez-text-content .btn.btn-white:hover, .medium-editor .btn.btn-white:hover,
      .xprez-feature-boxes .btn.btn-white:hover, .medium-editor-simple .btn.btn-white:hover,
      .xprez-download .btn.btn-white:hover {
        color: #37383c; }

.xprez-feature-boxes h2, .medium-editor-simple h2 {
  margin-top: 8px;
  margin-bottom: 8px; }
  .xprez-feature-boxes h2:first-child, .medium-editor-simple h2:first-child {
    margin-top: 0; }
.xprez-feature-boxes h3, .medium-editor-simple h3 {
  margin-top: 8px;
  margin-bottom: 8px; }
  .xprez-feature-boxes h3:first-child, .medium-editor-simple h3:first-child {
    margin-top: 0; }

.medium-editor {
  font-size: 18px;
  padding-top: 16px;
  font-family: "acumin-pro", Helvetica, Arial, sans-serif; }

.medium-insert-images figure {
  margin: 32px 0; }
  .medium-insert-images figure img {
    width: 100%; }

.medium-insert-embeds figure {
  margin: 32px 0; }
.medium-insert-embeds .video {
  position: relative;
  padding-top: 55%; }
  .medium-insert-embeds .video iframe {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: block; }

.medium-insert-images-right, .medium-insert-embeds-right {
  max-width: 33.33%;
  margin: 0 0 16px 30px;
  float: right; }
  .medium-insert-images-right figure, .medium-insert-embeds-right figure {
    margin: 8px 0 16px 0; }

.medium-insert-images-left, .medium-insert-embeds-left {
  max-width: 33.33%;
  margin: 0 30px 16px 0;
  float: left; }
  .medium-insert-images-left figure, .medium-insert-embeds-left figure {
    margin: 8px 0 16px 0; }

.medium-insert-images figcaption, .medium-insert-embeds figcaption {
  font-size: 0.83333em;
  line-height: 1.38667em;
  margin-top: 0em;
  margin-bottom: 0em;
  font-style: italic;
  display: block;
  text-align: center;
  padding: 8px 10px 0;
  margin-bottom: 16px;
  opacity: 0.7; }
  @media only screen and (max-width: 430px) {
    .medium-insert-images figcaption, .medium-insert-embeds figcaption {
      font-size: 0.72222em;
      line-height: 1.23077em;
      margin-top: 0em;
      margin-bottom: 0em; } }

.xprez {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  min-width: 400px;
  padding: 0;
  margin-top: 16px; }

.xprez-module {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dee2e6;
  margin: 16px 0; }
  .xprez-module.collapsed .xprez-module__collapse-cont {
    display: none; }

.xprez-module__title {
  background: #f6f7f8;
  text-align: center; }
  .xprez-module__title h2 {
    font-size: 12px;
    line-height: 2.66667em;
    margin-top: 0em;
    margin-bottom: 0em;
    color: #60686f;
    cursor: move; }
  .xprez-module__title .xprez-icon-btn-collapse {
    float: left;
    margin-top: 2px;
    margin-left: 2px; }
  .xprez-module__title .xprez-icon-btn-remove {
    float: right;
    margin-top: 2px;
    margin-right: 2px; }
  .xprez-module__title .xprez-icon-btn-copy {
    float: right;
    margin-top: 2px;
    margin-right: 2px; }

.xprez-module__options {
  background: #f6f7f8;
  text-align: center;
  padding: 2px 2px 5px;
  line-height: 28px; }
  .xprez-module__options.hidden {
    display: none; }

.xprez-module__content {
  background: white;
  border-top: 1px solid #dee2e6;
  padding: 15px; }

.xprez-module__options-group {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 0 10px;
  border-left: 1px solid #ced4da; }
  .xprez-module__options-group:first-child {
    border-left: none; }
  .xprez-module__options-group li {
    display: inline-block;
    vertical-align: middle; }

.xprez-add {
  text-align: center; }
  .xprez-add h2 {
    font-size: 13px;
    line-height: 2.46154em;
    margin-top: 2.46154em;
    margin-bottom: 2.46154em;
    color: #868e96;
    font-weight: normal; }

.xprez-add__list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .xprez-add__list li {
    display: inline-block;
    cursor: pointer;
    width: 60px;
    padding: 0 5px;
    vertical-align: top; }
    .xprez-add__list li:hover .xprez-add__label {
      color: #359cba; }
    .xprez-add__list li:hover [class^="xprez-icon-btn-add"], .xprez-add__list li:hover [class*=" xprez-icon-btn-add"] {
      background: #359cba; }

.xprez-add__label {
  font-size: 12px;
  line-height: 1.2em;
  margin-top: 0.66667em;
  margin-bottom: 1.33333em;
  display: inline-block;
  color: #868e96; }

[class^="xprez-icon-btn-"], [class*=" xprez-icon-btn-"] {
  width: 28px;
  text-align: center;
  cursor: pointer;
  color: #868e96;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  [class^="xprez-icon-btn-"]:before, [class*=" xprez-icon-btn-"]:before {
    font-size: 20px;
    line-height: 28px; }
  [class^="xprez-icon-btn-"]:hover, [class*=" xprez-icon-btn-"]:hover {
    background: #dee2e6; }
  [class^="xprez-icon-btn-"].active, [class*=" xprez-icon-btn-"].active {
    color: white;
    background: #868e96; }

.xprez-icon-btn-remove:before {
  content: "\e872"; }

.xprez-icon-btn-collapse:before {
  content: "\e5c6";
  font-size: 28px; }
  .collapsed .xprez-icon-btn-collapse:before {
    content: "\e5c5"; }

.xprez-icon-btn-remove.active {
  background: #d10420; }

.xprez-icon-btn-layout_1:before {
  content: "\e8f3"; }

.xprez-icon-btn-layout_2:before {
  content: "\e8f2"; }

.xprez-icon-btn-layout_3:before {
  content: "\e8f0"; }

.xprez-icon-btn-layout_4:before {
  content: "\e42a"; }

.xprez-icon-btn-crop:before {
  content: "\e3be"; }

.xprez-icon-btn-copy:before {
  content: "\e14d"; }

.xprez-option-btn {
  font-size: 12px;
  line-height: 2.33333em;
  margin-top: 0em;
  margin-bottom: 0em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  color: #868e96;
  padding: 0 7px;
  letter-spacing: 0.02em;
  cursor: pointer; }
  .xprez-option-btn:hover {
    background: #dee2e6; }
  .xprez-option-btn.active {
    color: white;
    background: #868e96; }

[class^="xprez-icon-btn-add"], [class*=" xprez-icon-btn-add"] {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  transition-timing-function: ease;
  width: 60px;
  cursor: pointer;
  color: white;
  display: inline-block;
  background: #868e96;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }
  [class^="xprez-icon-btn-add"]:before, [class*=" xprez-icon-btn-add"]:before {
    font-size: 25px;
    line-height: 60px; }
  [class^="xprez-icon-btn-add"]:hover, [class*=" xprez-icon-btn-add"]:hover {
    background: #7950f2; }
  [class^="xprez-icon-btn-add"].active, [class*=" xprez-icon-btn-add"].active {
    color: white;
    background: #343a40; }

.xprez-icon-btn-add-text_content:before {
  content: "\e235"; }

.xprez-icon-btn-add-text_box:before {
  content: "\e8b0"; }

.xprez-icon-btn-add-code_template:before {
  content: "\e8be"; }

.xprez-icon-btn-add-numbers:before {
  content: "\e3d4"; }

.xprez-icon-btn-add-video:before {
  content: "\e8da"; }

.xprez-icon-btn-add-gallery:before {
  content: "\e432"; }

.xprez-icon-btn-add-feature_boxes:before {
  content: "\e875"; }

.xprez-icon-btn-add-code:before {
  content: "\e86f"; }

.xprez-icon-btn-add-quote:before {
  content: "\e0b7"; }

.xprez-icon-btn-add-linked_article:before {
  content: "\e86e"; }

.xprez-icon-btn-add-downloads:before {
  content: "\e2c0"; }

.xprez-option-label {
  font-size: 12px;
  line-height: 2.33333em;
  margin-top: 0em;
  margin-bottom: 0em;
  display: inline-block;
  color: #868e96;
  letter-spacing: 0.02em; }

.xprez .xprez-option-input {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.66667em;
  margin-top: 0em;
  margin-bottom: 0em;
  height: auto;
  width: 150px;
  vertical-align: middle;
  padding: 3px 5px;
  border: 1px solid #dee2e6; }

.xprez .medium-editor {
  margin: 0 30px; }
.xprez .medium-editor-simple {
  margin: 0; }
