/* Error: Undefined variable.
 *   ,
 * 4 |     --x-base-bg: #{$base-bg};
 *   |                    ^^^^^^^^
 *   '
 *   styles/scss/config/_css_variables_colors.scss 4:17  base-colors()
 *   styles/scss/config/_css_variables_colors.scss 29:2  @import
 *   styles/scss/frontend/xprez_frontend.scss 2:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 4 \2502      --x-base-bg: #{$base-bg};\a   \2502                     ^^^^^^^^\a   \2575 \a   styles/scss/config/_css_variables_colors.scss 4:17  base-colors()\a   styles/scss/config/_css_variables_colors.scss 29:2  @import\a   styles/scss/frontend/xprez_frontend.scss 2:9        root stylesheet";
}
