{% load i18n %}
<div
    class="xprez-section{% block extra_css_classes %}{% endblock %}"
    data-controller="{% block data_controller %}XprezSection{% endblock %}"
    data-mode="{% block data_mode %}{# (empty)/edit/delete #}{% endblock %}"
    data-prefix="{% block data_prefix %}{% endblock %}"
>
    {% block before_header %}{% endblock %}

    <div class="xprez-section__header" data-draggable-section-handle>
        {% block header_before_settings %}
            <span class="xprez-icon-btn" title='{% trans "Collapse" %}' data-xprez-section-collapser>
                <i class="xprez-icon-chevron-small-down"></i>
            </span>
        {% endblock %}

        <div class="xprez-section__settings">
            {% block header_settings %}{% endblock %}
        </div>

        <div class="xprez-section__actions">
            {% block header_actions %}
                <span class="xprez-icon-btn" title='{% trans "Add section" %}' data-xprez-adder-section-before-trigger>
                    <i class="xprez-icon-plus-circle"></i>
                </span>
            {% endblock %}
        </div>
    </div>

    {% block section_body %}{% endblock %}

    {% block delete_info %}{% endblock %}

    {% block hidden_fields %}{% endblock %}
</div>
