.xprez-add {
    &-section {
        text-align: center;
        border-top: var(--x-admin-section-divider-height) solid var(--x-admin-section-divider-bg);
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 1.5rem;

        h2 {
            @include type-b(13px, 2, 2, 1);
            color: $b-gray-7;
            font-weight: normal;
        }
    }
}