.xprez-add-list {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .25rem 1rem;
    padding: 0;
    margin: 1rem auto;
    width: fit-content;

    li {
        list-style: none !important;
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .25rem .5rem;
        border-radius: var(--x-admin-border-radius-sm);
        cursor: pointer;

        &:hover {
            background: $b-gray-4;
        }

        .xprez-icon {
            display: flex;
            align-items: center;
        }
    }

    &__paste {
        background: $b-gray-8;
        color: $white;

        &:hover {
            background: $b-gray-7 !important;
        }
    }
}