// GENERAL LAYOUT
.xprez {
	box-sizing: border-box;
	@include sans($font-b);
	font-size: $basefont-b;
	font-weight: 400;
	width: 100%;
	min-width: $xprez-min-width;
	max-width: $xprez-max-width;
	padding: 0;
	margin: 1rem auto 3rem;
	line-height: 1.4;
}