// GENERAL LAYOUT
.xprez {
	color: var(--x-admin-color);
	background: var(--x-admin-bg);
	box-sizing: border-box;
	font-family: $admin-ui-font-family;
	font-size: $admin-ui-font-size;
	font-weight: 400;
	width: 100%;
	min-width: $xprez-min-width;
	max-width: $xprez-max-width;
	padding: 0;
	margin: 1rem auto 3rem;
	line-height: 1.4;
}