.xprez-delete-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 233, 233, 0.7);
    border: 1px solid rgba(255, 200, 200, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    z-index: 100;
    backdrop-filter: blur(5px);
    transition: all 0.2s ease-in-out;
    transition-behavior: allow-discrete;
    opacity: 0;
    visibility: hidden;
    display: none;
    text-align: right;
    text-wrap: balance;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    gap: 1rem;


    [data-mode="delete"] > & {
        opacity: 1;
        visibility: visible;
        display: flex;

        @starting-style {
            opacity: 0;
        }
    }

    .xprez-option-group > & {
        top: 2rem;
    }
}