.xprez-admin-module[data-unsaved],
.xprez-section[data-unsaved] .xprez-section__content {
	--x-admin-bg: #{$b-blue-purple-light};

	border: 1px dashed $b-blue-purple;
	padding: .5rem;
	border-radius: .5rem;
}