.xprez {
    [data-unsaved] {
		--x-admin-bg: #{$b-blue-purple-light};

		border: 1px dashed $b-blue-purple;
		padding: .5rem;
		border-radius: .5rem;
	}

	.xprez-option-group[data-unsaved] {
		--x-option-group-bg: #{$b-blue-purple-light};
	}
}