$base-bg: transparent !default;
$base-color: null !default;
$link-color: null !default;
$link-hover-color: null !default;

$heading-color: null !default;
$heading-emphasis-color: null !default;
$h2-color: null !default;
$h3-color: null !default;
$h4-color: null !default;

$box-bg: lightgray !default;