$use-xprez-typography: true !default;
$use-xprez-buttons: true !default;

$x-headings-font-weight: 600 !default;

$x-button-class: "btn" !default;
$x-button-font-weight: 700 !default;
$x-button-border-radius: .65em !default;
$x-button-gap: .5rem !default;

$x-blockquote-show-lines: true !default;
$x-blockquote-font-style: italic !default;
$x-blockquote-font-weight: 600 !default;
$x-blockquote-letter-spacing: .01em !default;
$x-blockquote-divider-height: .15em !default;
$x-blockquote-divider-width: 30% !default;
$x-blocquote-divider-gap: 1em !default;

$x-typography-config: (
    "smallest": (
        "h2": (
            "font-size": 1.7rem,
            "line-height": 1.25,
            "margin-bottom": .75rem,
            "font-weight": $x-headings-font-weight
        ),
        "h3": (
            "font-size": 1.3rem,
            "line-height": 1.2,
            "margin-bottom": .75rem,
            "font-weight": $x-headings-font-weight
        ),
        "h4": (
            "font-size": 1.125rem,
            "line-height": 1.3,
            "margin-bottom": .75rem,
            "font-weight": $x-headings-font-weight
        ),
        "p": (
            "font-size": 0.875rem,
            "line-height": 1.5,
            "margin-bottom": .75rem,
            "before-heading-margin-bottom": 1.5rem
        ),
        "li": (
            "font-size": 0.875rem,
            "line-height": 1.5,
            "margin-bottom": 0.25rem
        ),
        "blockquote": (
            "font-size": 1.18rem,
            "line-height": 1.3,
            "margin-bottom": 1.5rem,
            "font-weight": $x-blockquote-font-weight
        ),
        "ul": (
            "margin-bottom": 1.125rem
        ),
        "button": (
            "font-size": 0.8125rem,
            "line-height": 1,
            "padding-x": 2em,
            "padding-y": 1em,
            "font-weight": $x-button-font-weight,
            "border-radius": $x-button-border-radius
        ),
        "figcaption": (
            "font-size": 0.75rem,
            "line-height": 1.1,
            "margin-top": .5rem,
            "margin-bottom": .5rem
        ),
        "display": (
            "font-size": 3.4rem,
            "line-height": 1,
            "font-weight": $x-headings-font-weight
        )
    ),
    "small": (
        "h2": (
            "font-size": 2rem,
            "line-height": 1.2,
            "margin-bottom": .75rem,
            "font-weight": $x-headings-font-weight
        ),
        "h3": (
            "font-size": 1.625rem,
            "line-height": 1.25,
            "margin-bottom": .75rem,
            "font-weight": $x-headings-font-weight
        ),
        "h4": (
            "font-size": 1.125rem,
            "line-height": 1.3,
            "margin-bottom": .75rem,
            "font-weight": $x-headings-font-weight
        ),
        "p": (
            "font-size": 1rem,
            "line-height": 1.5,
            "margin-bottom": .75rem,
            "before-heading-margin-bottom": 1.5rem
        ),
        "li": (
            "font-size": 1rem,
            "line-height": 1.5,
            "margin-bottom": .25rem
        ),
        "blockquote": (
            "font-size": 1.4rem,
            "line-height": 1.25,
            "margin-bottom": 1.5rem,
            "font-weight": $x-blockquote-font-weight
        ),
        "ul": (
            "margin-bottom": 1.125rem
        ),
        "button": (
            "font-size": .875rem,
            "line-height": 1,
            "padding-x": 2em,
            "padding-y": 1em,
            "font-weight": $x-button-font-weight,
            "border-radius": $x-button-border-radius
        ),
        "figcaption": (
            "font-size": 0.875rem,
            "line-height": 1.1,
            "margin-top": .5rem,
            "margin-bottom": .5rem
        ),
        "display": (
            "font-size": 4rem,
            "line-height": 1,
            "font-weight": $x-headings-font-weight
        )
    ),
    "normal": (
        "h2": (
            "font-size": 2.5rem,
            "line-height": 1.125,
            "margin-bottom": .75rem,
            "font-weight": $x-headings-font-weight
        ),
        "h3": (
            "font-size": 2rem,
            "line-height": 1.2,
            "margin-bottom": .75rem,
            "font-weight": $x-headings-font-weight
        ),
        "h4": (
            "font-size": 1.5rem,
            "line-height": 1.25,
            "margin-bottom": .75rem,
            "font-weight": $x-headings-font-weight
        ),
        "p": (
            "font-size": 1.125rem,
            "line-height": 1.5,
            "margin-bottom": 1rem,
            "before-heading-margin-bottom": 2rem
        ),
        "li": (
            "font-size": 1.125rem,
            "line-height": 1.5,
            "margin-bottom": .25rem
        ),
        "blockquote": (
            "font-size": 1.73rem,
            "line-height": 1.2,
            "margin-bottom": 2rem,
            "font-weight": $x-blockquote-font-weight
        ),
        "ul": (
            "margin-bottom": 1.5rem
        ),
        "button": (
            "font-size": 1rem,
            "line-height": 1,
            "padding-x": 2em,
            "padding-y": 1em,
            "font-weight": $x-button-font-weight,
            "border-radius": $x-button-border-radius
        ),
        "figcaption": (
            "font-size": 0.9375rem,
            "line-height": 1.1,
            "margin-top": .5rem,
            "margin-bottom": .5rem
        ),
        "display": (
            "font-size": 5rem,
            "line-height": 1,
            "font-weight": $x-headings-font-weight
        )
    ),
    "large": (
        "h2": (
            "font-size": 3rem,
            "line-height": 1.1,
            "margin-bottom": 1rem,
            "font-weight": $x-headings-font-weight
        ),
        "h3": (
            "font-size": 2.375rem,
            "line-height": 1.1,
            "margin-bottom": 1rem,
            "font-weight": $x-headings-font-weight
        ),
        "h4": (
            "font-size": 1.75rem,
            "line-height": 1.2,
            "margin-bottom": 1rem,
            "font-weight": $x-headings-font-weight
        ),
        "p": (
            "font-size": 1.3125rem,
            "line-height": 1.4,
            "margin-bottom": 1rem,
            "before-heading-margin-bottom": 2.5rem
        ),
        "li": (
            "font-size": 1.3125rem,
            "line-height": 1.4,
            "margin-bottom": 0.25rem
        ),
        "blockquote": (
            "font-size": 2.1rem,
            "line-height": 1.2,
            "margin-bottom": 2.5rem,
            "font-weight": $x-blockquote-font-weight
        ),
        "ul": (
            "margin-bottom": 1.5rem
        ),
        "button": (
            "font-size": 1.125rem,
            "line-height": 1,
            "padding-x": 2em,
            "padding-y": 1em,
            "font-weight": $x-button-font-weight,
            "border-radius": $x-button-border-radius
        ),
        "figcaption": (
            "font-size": 1.0625rem,
            "line-height": 1.2,
            "margin-top": .75rem,
            "margin-bottom": .75rem
        ),
        "display": (
            "font-size": 6rem,
            "line-height": 1,
            "font-weight": $x-headings-font-weight
        )
    ),
    "largest": (
        "h2": (
            "font-size": 3.5rem,
            "line-height": 1,
            "margin-bottom": 1.35rem,
            "font-weight": $x-headings-font-weight
        ),
        "h3": (
            "font-size": 2.75rem,
            "line-height": 1.1,
            "margin-bottom": 1.35rem,
            "font-weight": $x-headings-font-weight
        ),
        "h4": (
            "font-size": 2rem,
            "line-height": 1.2,
            "margin-bottom": 1.35rem,
            "font-weight": $x-headings-font-weight
        ),
        "p": (
            "font-size": 1.5rem,
            "line-height": 1.35,
            "margin-bottom": 1.35rem,
            "before-heading-margin-bottom": 2.5rem
        ),
        "li": (
            "font-size": 1.5rem,
            "line-height": 1.35,
            "margin-bottom": 0.75rem
        ),
        "blockquote": (
            "font-size": 2.3rem,
            "line-height": 1.2,
            "margin-bottom": 2.5rem,
            "font-weight": $x-blockquote-font-weight
        ),
        "ul": (
            "margin-bottom": 2.025rem
        ),
        "button": (
            "font-size": 1.25rem,
            "line-height": 1,
            "padding-x": 2em,
            "padding-y": 1em,
            "font-weight": $x-button-font-weight,
            "border-radius": $x-button-border-radius
        ),
        "figcaption": (
            "font-size": 1.125rem,
            "line-height": 1.2,
            "margin-top": 1rem,
            "margin-bottom": 1rem
        ),
        "display": (
            "font-size": 7rem,
            "line-height": 1,
            "font-weight": $x-headings-font-weight
        )
    )
) !default;
