.xprez-add {
    &-section {
        text-align: center;
        border-top: var(--x-admin-section-divider-height) solid var(--x-admin-section-divider-bg);
        padding: 1rem 0;

        h3 {
            font-size: $admin-ui-font-size;
        }
    }
}

.xprez-section__adder-trigger {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

