{% extends "xprez/admin/includes/adders/content__base.html" %}
{% load i18n %}

{% block controller_class %}XprezSectionAdderSectionBefore{% endblock %}
{% block wrapper_css_class %}{{ block.super }} xprez-add-before{% endblock %}
{% block wrapper_attributes %}data-hidden{% endblock %}
{% block header %}<h3>Add new section with:</h3>{% endblock %}
{% block before_wrapper %}
    <div class="xprez-section__adder-trigger">
        <span class="xprez-btn xprez-btn-transparent" data-xprez-adder-section-before-trigger>
            <i class="xprez-icon-plus_square_20"></i>{% trans "Add section" %}
        </span>
    </div>
{% endblock %}
