{% extends 'xprez/admin/contents/base.html' %}

{% block options %}
    <ul class="xprez-module__options-group js-select_controller"
        data-formfield_selector="#id_content-{{ content.pk }}-columns">
<!--        <li><span class="xprez-icon-btn-layout_1 js-option" data-formfield_value="1"  title="1 column"></span></li>-->
        <li><span class="xprez-icon-btn-layout_2 js-option" data-formfield_value="2" title="2 columns"></span></li>
        <li><span class="xprez-icon-btn-layout_3 js-option" data-formfield_value="3" title="3 columns"></span></li>
        <li><span class="xprez-icon-btn-layout_4 js-option" data-formfield_value="4" title="4 columns"></span></li>
        <li><span class="xprez-icon-btn-layout_6 js-option" data-formfield_value="6" title="6 columns"></span></li>
        <li><span class="xprez-icon-btn-layout_8 js-option" data-formfield_value="8" title="8 columns"></span></li>

    </ul>

    <ul class="xprez-module__options-group js-select_controller"
        data-formfield_selector="#id_content-{{ content.pk }}-margin">
        <li>Margin: </li>
        <li><span class="xprez-option-btn js-option" data-formfield_value="none">None</span></li>
        <li><span class="xprez-option-btn js-option" data-formfield_value="m">M</span></li>
        <li><span class="xprez-option-btn js-option" data-formfield_value="l">L</span></li>
    </ul>

    <ul class="xprez-module__options-group js-select_controller"
        data-formfield_selector="#id_content-{{ content.pk }}-text_size">
        <li>Text size:</li>
        <li><span class="xprez-option-btn js-option" data-formfield_value="xs">XS</span></li>
        <li><span class="xprez-option-btn js-option" data-formfield_value="s">S</span></li>
        <li><span class="xprez-option-btn js-option" data-formfield_value="m">M</span></li>
    </ul>

    <ul class="xprez-module__options-group">
        <li><span class="xprez-option-btn js-checkbox_controller"
                  data-formfield_selector="#id_content-{{ content.pk }}-padded">Padded</span></li>
    </ul>
    <ul class="xprez-module__options-group">
        <li><span class="xprez-option-btn js-checkbox_controller"
                  data-formfield_selector="#id_content-{{ content.pk }}-edge_images">Image to edges</span></li>
    </ul>
    <ul class="xprez-module__options-group">
        <li><span class="xprez-icon-btn-align-center js-checkbox_controller"
                  data-formfield_selector="#id_content-{{ content.pk }}-content_centered" title="Centered content"></span></li>
    </ul>

    <ul class="xprez-module__options-group">
        <li><span class="xprez-icon-btn-background js-checkbox_controller"
                  data-formfield_selector="#id_content-{{ content.pk }}-boxes_filled" title="Background"></span></li>
        <li><span class="xprez-icon-btn-border js-checkbox_controller"
                  data-formfield_selector="#id_content-{{ content.pk }}-border" title="Border"></span></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="js-box-tpl" style="display: none;">
        {% include 'xprez/admin/contents/grid_boxes/box.html' %}
    </div>

    <div class="js-boxes xprez-grid-boxes-admin-grid">
        {% for box_content in content.boxes %}
            {% include 'xprez/admin/contents/grid_boxes/box.html' %}
        {% endfor %}
    </div>
    <div class="">
        <span href="#" class="js-add-another xprez-option-btn"><span class="xprez-icon-control_point"></span><span>Add another box</span></span>
    </div>
{% endblock %}

{% block hidden_form %}
        {{ content.admin_form }}
{% endblock %}

{% block js %}
    <script>

        var initBoxActions = function ($actionsScope) {
            $actionsScope.find('.js-grid-box-delete').click(function (e) {
                e.preventDefault()
                $(this).parent().parent('.js-box-wrapper').remove();
            });
            $actionsScope.find('.js-grid-box-move-up').click(function (e) {
                e.preventDefault()
                var $me = $(this).parent().parent('.js-box-wrapper');
                var $aboveMe = $me.prev('.js-box-wrapper');
                if ($aboveMe.length) {
                    $me.after($aboveMe);
                }
            });

            $actionsScope.find('.js-grid-box-move-down').click(function (e) {
                e.preventDefault()
                var $me = $(this).parent().parent('.js-box-wrapper');
                var $belowMe = $me.next('.js-box-wrapper');
                if ($belowMe.length) {
                    $me.before($belowMe);
                }
            });


        };

        jqueryME(document).ready(function () {
            initializeMediumEditors(jqueryME('.js-content-{{ content.pk }} .js-boxes'));
        });

        $(function () {
            var $scope = $('.js-content-{{ content.pk }}');
            initBoxActions($scope.find('.js-boxes'));
            $('form').submit(function (e) {
                var boxes{{ content.pk }} = []
                $scope.find('.js-boxes textarea.js-grid-box').each(function (index, element) {
                    boxes{{ content.pk }}.push($(element).val())
                })
                $('#id_content-{{ content.pk }}-boxes').val(boxes{{ content.pk }}.toString())
            })

            var $addAnotherBtn = $scope.find('.js-add-another');

            $addAnotherBtn.click(function (e) {
                e.preventDefault();
                $scope.find('.js-boxes').append($scope.find('.js-box-tpl').html())
                initializeMediumEditors(jqueryME('.js-content-{{ content.pk }} .js-boxes:last'));
                initBoxActions($scope.find('.js-boxes:last'));
            });

            {% if not content.boxes %}
                $addAnotherBtn.trigger('click');
            {% endif %}
        })
    </script>
{% endblock %}
