$download-break: 520px;

.xprez-download {
	@include clearfix;
	box-sizing: border-box;
	background: var(--x-download-bg);
	max-width: 100%;

	@include cont-width($s-width + $m-space*6);
	padding: $g*3 $m-space*3;

	@media only screen and (max-width: ($break-m+200)) {
		padding: $g*2 $m-space;
	}

	@media only screen and (max-width: ($break-s)) {
		padding: $g*2 $s-space;
	}
}

.xprez-download-item {
	margin: $g*.5 30px 0 0;
	display: table-row;

	@media only screen and (max-width: (520px)) {
		display: block;
		margin-right: 0;
	}

	.btn, .btn.btn-secondary {
		white-space: nowrap;
		width: 100%;

		@include xprez-breakpoint-down($download-break) {
			display: block;
		}

		@if $use-xprez-button-styles {
			padding-top: $download-button-padding-v;
			padding-bottom: $download-button-padding-v;
			font-size: $download-button-size;
			color: var(--x-download-btn-color);
			background-color: var(--x-download-btn-bg);

			&:hover {
				color: var(--x-download-btn-hover-color);
				background-color: var(--x-download-btn-hover-bg);
			}
		}
	}

	&-name {
		@include type($download-name-size, $download-name-lh, 0, 0);
		@include type-min(14px, 1.5, 0, 1);
		@include sans;
		font-weight: $download-name-weight !important;
		display: table-cell;
		padding-left: 20px;
		word-break: break-word;

		@include xprez-breakpoint-down($download-break) {
			display: block;
			font-weight: normal;
			padding-left: 0;
		}
	}

	.xprez-download-btn {
		display: table-cell;
		padding: $download-cell-padding-v 0;

		@include xprez-breakpoint-down($download-break) {
			display: block;
		}
	}
}