.xprez-module__content {
	.ck-content {
		max-width: var(--x-admin-form-width);
		margin: 1rem auto;
		padding-top: .5rem;
		padding-bottom: .5rem;

		.btn {
			font-size: 1em;
			padding: .75em 1.5em
		}

		li {
			font-size: 1em;
		}

		h4 {
			font-size: 1.5em;
		}

		a:not(.btn) {
			color: inherit;
			text-decoration: underline;
		}
	}

	.xprez-cell .ck-content {
		margin: 0 auto;
	}

	.ck-placeholder {
		font-style: italic;
		margin-left: 0;
	}

	.ck.ck-editor__editable_inline {
		padding: .5rem;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}
}
