.xprez-flexbox-cont {
	display: flex;
}

.xprez-image-text-image,
.xprez-image-text-text {

	.xprez-cell-label {
		width: auto;
		text-align: left;
		display: block;
		img {
			width: 100%;
			max-width: 500px;
		}
	}

	.xprez-cell {
		width: auto;
		display: block;
		padding-left: 0;

		a {
			word-break: break-all;
		}
	}
}

.xprez-image-text-text {
	font-size: 18px;
}

.xprez-image-text-image {	
	@media only screen and (min-width: 600px) {
		width: 50%;
		padding-right: 20px;

		.image-right & {
			order: 2;
			padding-left: 20px;
		}
	}

	.xprez-form-row {
		display: block;
	}
}

.xprez-image-text-text {

	@media only screen and (min-width: 600px) {
		width: 50%;

		.image-right & {
			order: 1;
		}
	}

	.xprez-form-row {
		display: block;
	}
}