.xprez-admin-gallery {
	&__image {
		display: block;
		cursor: move;
		max-width: 100%;
		height: auto;
		max-height: 170px;

		&-cont {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	}

	.xprez-admin-multi-items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		gap: 1rem;
		align-items: end;
	}

	.xprez-admin-multi-item {
		border: none !important;
		padding: 0 !important;
	}
}





