.xprez-module {
	border: 1px solid $b-gray-4;
	margin: $g 0;
	border-radius: var(--x-admin-border-radius-md);
	background: var(--x-admin-module-bg);
	&.collapsed .xprez-module__collapse-cont {
		display: none;
	}

	&:has(.xprez-module__visibility-toggle.active) {
		// background: var(--x-admin-module-bg-stripes);
	}
}
