.xprez-admin-module {
	--x-admin-option-font-size: 14px;

	border: 1px solid $b-gray-4;
	margin: 1rem 0;
	border-radius: var(--x-admin-border-radius-md);
	background: var(--x-admin-module-bg); 
	overflow: hidden;

	&.collapsed .xprez-module__collapse-cont {
		display: none;
	}
}
