{% extends "xprez/admin/configs/module_base.html" %}

{% block extra_fields %}
    <div class="xprez-option-group__subtitle">Typography</div>
    <div class="xprez-option-row">
        {% include "xprez/admin/form/field.html" with field=config.admin_form.font_size size="flex-1" %}
    </div>
    <div class="xprez-option-row">
        {% include "xprez/admin/form/field.html" with field=config.admin_form.text_align size="flex-1" %}
    </div>

    {% block text_extra_fields %}{% endblock %}
{% endblock %}
