@use "../../config/typography";
@use "../../library/rfs" as rfs; 

@if $use-xprez-typography and $use-xprez-buttons {
    @each $size-name, $size-config in $typography-config {
        .xprez-font-size-#{$size-name} {
            @each $element, $properties in $size-config {
                @if $element == "button" {
                    .#{$xprez-button-class} {
                        @include rfs.font-size(map-get($properties, "font-size"));
                        line-height: map-get($properties, "line-height");
                        padding: map-get($properties, "padding-y") map-get($properties, "padding-x");
                        @if map-get($properties, "font-weight") {
                            font-weight: map-get($properties, "font-weight");
                        }
                        @if map-get($properties, "border-radius") {
                            border-radius: map-get($properties, "border-radius");
                        }
                    }
                } 
            } 
        }
    }

    .xprez-module .#{$xprez-button-class} {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: $xprez-button-gap; 
        // text-box-trim: trim-both;
        // text-box-edge: cap alphabetic;

        color: var(--x-button-primary-color);
        background: var(--x-button-primary-bg);
        border: var(--x-button-primary-border-width) solid var(--x-button-primary-border-color);

        &:hover {
            color: var(--x-button-primary-hover-color);
            background: var(--x-button-primary-hover-bg);
        }

        &:active {
            color: var(--x-button-primary-active-color);
            background: var(--x-button-primary-active-bg);
        }

        &.#{$xprez-button-class}-secondary {
            color: var(--x-button-secondary-color);
            background: var(--x-button-secondary-bg);
            border: var(--x-button-secondary-border-width) solid var(--x-button-secondary-border-color);

            &:hover {
                color: var(--x-button-secondary-hover-color);
                background: var(--x-button-secondary-hover-bg);
            }

            &:active {
                color: var(--x-button-secondary-active-color);
                background: var(--x-button-secondary-active-bg);
            }
        }
    }
}

