{% load i18n %}
{% load xprez_admin %}

<div
    class="xprez-section"
    data-component="xprez-section"
    data-mode="{# (empty)/edit/delete #}"
    data-prefix="{{ section.admin_form.prefix }}"
>
    {% include "./includes/add_list.html" with component_name="xprez-adder-section-before" xprez_admin=section.admin_form.xprez_admin add_list_container=section.container attributes="data-hidden" %}

    <div class="xprez-section__header" data-draggable-section-handle>
        <span class="xprez-icon-btn" title="Collapse" data-component="xprez-section-collapser">
            <i class="xprez-icon-chevron-small-down"></i>
        </span>

        <div class="xprez-section__settings">
            <span class="xprez-icon-btn" title="Advanced settings" data-component="xprez-section-popover-trigger">
                <i class="xprez-icon-settings"></i>
            </span>
        </div>

        <div class="xprez-section__actions">
            <span class="xprez-icon-btn" title="Add section" data-component="xprez-adder-section-before-trigger">
                <i class="xprez-icon-plus-circle"></i>
            </span>
            <span class="xprez-option" data-active="true" data-text-label="false">
                <label for="{{ section.admin_form.visible.id_for_label }}">
                    <i class="xprez-icon-eye x-variant-unchecked"></i>
                    <i class="xprez-icon-eye_slash  x-variant-checked x-color-alert"></i>
                    <span>Visibility on/off</span>
                </label>
                {{ section.admin_form.visible }}
            </span>

            <div class="xprez-icon-btn js-xprez-submenu-toggle xprez-submenu__toggle" title="Copy">
                <i class="xprez-icon-copy"></i>
                <div class="xprez-submenu">
                    <div
                        class="js-copy-module"
                        data-url="TODO"
                    >
                        Duplicate
                    </div>
                    <div
                        class="js-clipboard-copy xprez-clipboard-copy"
                        data-url="TODO"
                    >
                        <span class="xprez-inline-success-message">{% include "xprez/admin/icons/checkmark.html" %} Copied</span>
                        <span class="default">Copy</span>
                    </div>
                </div>
            </div>
            <span class="xprez-icon-btn" title="Remove" data-component="xprez-section-delete-trigger">
                <i class="xprez-icon-delete"></i>
                <span data-hidden>{{ section.admin_form.delete }}</span>
            </span>
        </div>
    </div>

    <div class="xprez-delete-info" data-component="xprez-section-delete-info">
        This section will be deleted when you save the changes.
        <span class="xprez-btn xprez-btn__danger" data-component="xprez-section-delete-undo">undelete</span>
    </div>

    <div class="xprez-section-grid" data-component="xprez-section-grid">
        {% for module in section.admin_form.xprez_modules %}
            {% xprez_module_render_admin module %}
        {% endfor %}
    </div>

    <div class="xprez-section__footer">
        <span class="xprez-btn xprez-btn-transparent" data-component="xprez-adder-section-end-trigger">
            <i class="xprez-icon-plus_square_20"></i>Add content
        </span>
        {% include "./includes/add_list.html" with component_name="xprez-adder-section-end" xprez_admin=section.admin_form.xprez_admin add_list_section=section attributes="data-hidden" %}
    </div>

    <div popover="manual" class="xprez-popover" data-component="xprez-section-popover">
        <div class="xprez-popover__content">
            {% block popopover_module %}
                <div class="xprez-option-group">
                    <div class="xprez-option-group__heading">
                        <i class="xprez-icon-grid_3_3"></i>
                        <span class="xprez-option-group__title-text">Section</span>
                    </div>
                    <div class="xprez-option-row">
                        {% include "xprez/admin/form/field.html" with field=section.admin_form.max_width_choice flex=1 %}
                        {% include "xprez/admin/form/field.html" with field=section.admin_form.max_width_custom label=False suffix="px" flex=0 attributes="data-hidden" %}
                    </div>
                    {% include "xprez/admin/form/row.html" with field=section.admin_form.alternate_color flex=1 %}
                    {% include "xprez/admin/form/row.html" with field=section.admin_form.background_color flex=1 %}
                    {% include "xprez/admin/form/row.html" with field=section.admin_form.css_class flex=1 %}

                    <div data-component="xprez-section-configs">
                        {% for config in section.admin_form.xprez_configs %}
                            {% xprez_section_config_render_admin config %}
                        {% endfor %}
                    </div>
                </div>
                <div class="xprez-option-group__footer" data-component="xprez-adder-section-config">
                    {% include "xprez/admin/includes/add_config_section.html" with xprez_admin=section.admin_form.xprez_admin %}
                </div>
            {% endblock %}
        </div>
    </div>

    {% block hidden_fields %}
        <input type="hidden" name="section-id" value="{{ section.pk }}">
        {{ section.admin_form.position.as_hidden }}
    {% endblock %}
</div>
