<div data-component="xprez-section-config" {% if config.is_default %}data-is-default{% endif %}>
    <div class="xprez-option-group__title">
        <div class="xprez-option" data-active="true" data-text-label="false">
            <label for="{{ config.admin_form.visible.id_for_label }}">
                <i class="xprez-icon-eye x-variant-checked"></i>
                <i class="xprez-icon-eye_slash x-variant-unchecked x-color-danger"></i>
                <span>Visible</span>
            </label>
            {{ config.admin_form.visible }}
        </div>
        <span class="xprez-option-group__title-text">{{ config.get_css_breakpoint_display|safe }}</span>
        {% if not config.is_default %}
            <span class="xprez-icon-btn" title="Remove breakpoint">
                <i class="xprez-icon-delete"></i>
            </span>
        {% endif %}
    </div>

    <div class="xprez-option-group__subtitle">Section</div>
    {% include "xprez/admin/form/row.html" with field=config.admin_form.margin_bottom_choice flex=1 %}
    
    <div class="xprez-option-group__subtitle">Padding</div>
    <div class="xprez-option-row">
        {% include "xprez/admin/form/field.html" with field=config.admin_form.padding_top_choice label=False icon="xprez-icon-padding_t" flex=1 %}
        {% include "xprez/admin/form/field.html" with field=config.admin_form.padding_top_custom label=False suffix="px" attributes="data-hidden data-show-if-custom=\""|add:config.admin_form.padding_top_choice.html_name|add:"\""|safe %}
        {% include "xprez/admin/form/field.html" with field=config.admin_form.padding_y_linked label=False icon="xprez-icon-link_vertical x-variant-checked x-color-alert" icon2="xprez-icon-link_vertical x-variant-unchecked" flex=False %}
    </div>
    <div class="xprez-option-row">
        {% include "xprez/admin/form/field.html" with field=config.admin_form.padding_bottom_choice label=False icon="xprez-icon-padding_b" flex=1 %}
        {% include "xprez/admin/form/field.html" with field=config.admin_form.padding_bottom_custom label=False suffix="px" attributes="data-hidden data-show-if-custom=\""|add:config.admin_form.padding_bottom_choice.html_name|add:"\""|safe %}
        <div class="xprez-option__btn-spacer"></div>
    </div>
    <div class="xprez-option-row">
        {% include "xprez/admin/form/field.html" with field=config.admin_form.padding_left_choice label=False icon="xprez-icon-padding_l" flex=1 %}
        {% include "xprez/admin/form/field.html" with field=config.admin_form.padding_left_custom label=False suffix="px" attributes="data-hidden data-show-if-custom=\""|add:config.admin_form.padding_left_choice.html_name|add:"\""|safe %}
        {% include "xprez/admin/form/field.html" with field=config.admin_form.padding_x_linked label=False icon="xprez-icon-link_vertical x-variant-checked x-color-alert" icon2="xprez-icon-link_vertical x-variant-unchecked" flex=False %}
    </div>
    <div class="xprez-option-row">
        {% include "xprez/admin/form/field.html" with field=config.admin_form.padding_right_choice label=False icon="xprez-icon-padding_r" flex=1 %}
        {% include "xprez/admin/form/field.html" with field=config.admin_form.padding_right_custom label=False suffix="px" attributes="data-hidden data-show-if-custom=\""|add:config.admin_form.padding_right_choice.html_name|add:"\""|safe %}
        <div class="xprez-option__btn-spacer"></div>
    </div>

    <div class="xprez-option-group__subtitle">Grid</div>
    {% include "xprez/admin/form/row.html" with field=config.admin_form.columns %}
    <div class="xprez-option-row">
        {% include "xprez/admin/form/field.html" with field=config.admin_form.gap_choice flex=1 %}
        {% include "xprez/admin/form/field.html" with field=config.admin_form.gap_custom label=False suffix="px" attributes="data-hidden data-show-if-custom=\""|add:config.admin_form.gap_choice.html_name|add:"\""|safe %}
    </div>

    <div class="xprez-option-group__subtitle">Grid box inner alignment</div>
    <div class="xprez-option-row">
        {% include "xprez/admin/form/field.html" with field=config.admin_form.vertical_align label=False icon="xprez-icon-vertical" flex=1 %}
        {% include "xprez/admin/form/field.html" with field=config.admin_form.horizontal_align label=False icon="xprez-icon-horizontal" flex=1 %}
    </div>
</div>
