{% load i18n %}
{% load xprez_admin %}

<div
    class="xprez-section"
    data-component="xprez-section"
    {# data-id="{{ section.pk }}" #}
    data-prefix="{{ section.admin_form.prefix }}"
>
    {% comment %} {% include "./includes/add_list.html" with xprez_admin=form.xprez_admin position=form.xprez_admin.POSITION_SECTION_BEFORE pk=section.pk %} {% endcomment %}

    <div class="xprez-section__header">
        <span class="xprez-icon-btn js-collapser" title="Collapse">
            <i class="xprez-icon-chevron-small-down"></i>
        </span>

        <div class="xprez-section__settings">
            <span class="xprez-icon-btn" title="Advanced settings" data-component="xprez-section-popover-trigger">
                <i class="xprez-icon-settings"></i>
            </span>
                {% comment %}
            <div class="xprez-option-row">
                <div class="xprez-option" data-size="flex-auto" data-active="true">
                    <label for="id1-cols">Columns</label>
                    <span class="xprez-option__dropdown">
                        <select class="xprez-option__select" id="id1-cols">
                            <option value="1">1</option>
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </span>
                </div>
                <div class="xprez-option" data-size="flex-auto" data-active="true">
                    <label for="id1-gap">Gap</label>
                    <span class="xprez-option__dropdown">
                        <select class="xprez-option__select" id="id1-gap">
                            <option value="sm">Small</option>
                            <option value="md" selected>Medium</option>
                            <option value="lg">Large</option>
                            <option value="xl">X-Large</option>
                            <option value="custom">Custom</option>
                        </select>
                    </span>
                </div>
                <div class="xprez-option" data-size="flex-auto" data-active="true">
                    <label for="id1-max-width">Max width</label>
                    <span class="xprez-option__dropdown">
                        <select class="xprez-option__select" id="id1-max-width">
                            <option value="sm">Small</option>
                            <option value="md" selected>Medium</option>
                            <option value="lg">Large</option>
                            <option value="xl">X-Large</option>
                            <option value="xl">Full</option>
                            <option value="custom">Custom</option>
                        </select>
                    </span>
                </div>
            </div>
                {% endcomment %}
        </div>

        <div class="xprez-section__actions">
            <span class="xprez-icon-btn" title="Add section">
                <i class="xprez-icon-plus-circle"></i>
            </span>
            <span class="xprez-icon-btn xprez-icon-btn--icon-toggle js-checkbox_controller" data-formfield_selector="#id_content-{{ content.pk }}-visible" title="Visibility on/off">
                <i class="xprez-icon-eye x-variant-unchecked"></i>
                <i class="xprez-icon-eye_slash  x-variant-checked x-color-alert"></i>
            </span>
            <div class="xprez-icon-btn js-xprez-submenu-toggle xprez-submenu__toggle" title="Copy">
                <i class="xprez-icon-copy"></i>
                <div class="xprez-submenu">
                    <div
                        class="js-copy-content"
                        data-url="TODO{#{% url form.xprez_admin.xprez_copy_content_url_name content.pk %}#}"
                    >
                        Duplicate
                    </div>
                    <div
                        class="js-clipboard-copy xprez-clipboard-copy"
                        data-url="TODO{#{% url form.xprez_admin.xprez_clipboard_copy_url_name xprez_admin.CLIPBOARD_CONTENT_KEY content.pk %}#}"
                    >
                        <span class="xprez-inline-success-message">{% include "xprez/admin/icons/checkmark.html" %} Copied</span>
                        <span class="default">Copy</span>
                    </div>
                </div>
            </div>
            <span class="xprez-icon-btn js-delete-content" data-pk="{{ content.pk }}" data-url="TODO{#{% url xprez_admin.xprez_delete_content_url_name content.pk %}#}" title="Remove">
                <i class="xprez-icon-delete"></i>
            </span>
        </div>
    </div>

    <div class="xprez-section-grid">
        {% for content in section.admin_form.xprez_contents %}
            {% xprez_content_render_admin content %}
        {% endfor %}
    </div>

    <div class="xprez-section__footer">
        <span class="js-add-another xprez-btn xprez-btn-transparent">
            <i class="xprez-icon-plus_square_20"></i>Add content
        </span>
        {% include "./includes/add_list.html" with xprez_admin=form.xprez_admin section=section %}
    </div>

    <div popover="manual" class="xprez-popover" data-component="xprez-section-popover">
        <div class="xprez-popover__content">
            {% block popopover_content %}
                <div class="xprez-option-group">
                    <div class="xprez-option-group__heading">
                        <i class="xprez-icon-grid_3_3"></i>
                        <span class="xprez-option-group__title-text">Section</span>
                    </div>
                    <div class="xprez-option-row">
                        {% include "xprez/admin/form/field.html" with field=section.admin_form.max_width_choice %}
                        {% include "xprez/admin/form/row.html" with field=section.admin_form.max_width_custom label=False suffix="px" flex=0 %}
                    </div>
                    {% include "xprez/admin/form/row.html" with field=section.admin_form.alternate_color %}
                    {% include "xprez/admin/form/row.html" with field=section.admin_form.background_color %}
                    {% include "xprez/admin/form/row.html" with field=section.admin_form.css_class %}
                </div>
            {% endblock %}
        </div>
    </div>

    {% block hidden_fields %}
        <input type="hidden" name="section-id" value="{{ section.pk }}">
        {{ section.admin_form.position.as_hidden }}
    {% endblock %}
</div>
