{% load i18n %}
{% load xprez_admin %}

<div class="xprez" data-controller="Xprez">
    <div class="xprez-top">
        <div class="xprez-option" data-active="true" data-text-label="true">
            <label for="view">
                <i class="xprez-icon-view"></i>
                <span>View</span>
            </label>
            <span class="xprez-option__dropdown">
                <select id="view" data-xprez-view-select>
                    <option value="sm">Default edit view</option>
                    {% for id, data in form.xprez_admin.xprez_breakpoints.items %}
                        <option value="{{ id }}">{{ data.name|safe }}</option>
                    {% endfor %}
                </select>
            </span>
        </div>

        <div data-controller="XprezAllSectionsCollapseExpand">
            <span class="xprez-btn xprez-btn-transparent xprez-btn--sm" data-xprez-all-sections-collapser>
                <i class="xprez-icon-vertical"></i>
                Collapse all
            </span>
            <span class="xprez-btn xprez-btn-transparent xprez-btn--sm" data-xprez-all-sections-expander>
                <i class="xprez-icon-vertical"></i>
                Expand all
            </span>
        </div>
        <span class="xprez-btn xprez-btn-transparent xprez-btn--sm {# success #}">
            <span class="xprez-btn__inner xprez-btn__success">
                {% include "xprez/shared/icons/checkmark.html" %}
                Copied
            </span>
            <span class="xprez-btn__inner xprez-btn__default">
                <i class="xprez-icon-copy"></i>
                Copy all
            </span>
        </span>
    </div>

    <div data-xprez-sections-container>
        {% for section in form.xprez_sections %}
            {% xprez_section_render_admin section %}
        {% endfor %}
    </div>

    {% with available_modules=form.xprez_add_menu_module_classes %}
        {% if available_modules %}
            {% include "./includes/adders/content_container_end.html" with xprez_admin=form.xprez_admin adder_container=form.instance %}
        {% endif %}
    {% endwith %}
</div>

<script>
    window.addEventListener("DOMContentLoaded", function() {
        window.xprez = new Xprez();
    });
</script>
