{% extends change_form_extend_template %}
{% load static i18n %}
{% block extrahead %}
    {{ block.super }}
    <script>
        var $ = $ || django.jQuery;
        var jQuery = jQuery || django.jQuery;
    </script>
    <script type="text/javascript" src="{% static 'xprez/admin/libs/jquery_ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'xprez/admin/js/contents.js' %}"></script>
    {% include 'xprez/includes/media.html' %}
    <link rel="stylesheet" href="{% static "xprez/styles/xprez-backend.css" %}">
{% endblock %}

{% block inline_field_sets %}
    {{ block.super }}
    {% if show_xprez_toolbar %}
        <div class="xprez">
            <div class="xprez-top"><span class="xprez-option-btn js-collapse_all">Collapse All Boxes</span></div>
            <div class="js-contents-container">
                {% for content in contents %}
                    {{ content.render_admin }}
                {% endfor %}
            </div>
            <div class="xprez-add">
                <h2>+ Add new piece of content +</h2>
                <ul class="xprez-add__list">
                    {% for content_type in content_types %}
                        <li class="js-add-content" data-url="{% url 'admin:ajax_add_content' original.pk content_type.identifier %}?{{ request.GET.urlencode }}">
                            <span class="xprez-icon-btn-add-{{ content_type.icon_name }}"></span>
                            <span class="xprez-add__label">{{ content_type.verbose_name }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% else %}
        <div class="xprez text-center">
            <button type="submit" name="_continue" class="btn btn-high btn-info btn-large">{% trans 'Save and continue editing' %}</button>
        </div>
    {% endif %}


{% endblock %}

{% block object-tools-items %}
    {% if copy_supported %}
        <li><a href="{% url copy_url_name original.pk %}">Copy</a></li>
    {% endif %}
    {{ block.super }}
{% endblock %}