.debug-info {
    display: none;
    font-size: .7rem;
    font-family: monospace;
    color: #555;
    padding: 1rem;
    background-color: darken($super-light-gray, 3%);
    margin-bottom: 1rem;

    &__section {
        background-color: $light-violet;
        margin-bottom: 0;
    }
}