.debug-info {
    display: none;
    font-size: .7rem;
    font-family: monospace;
    color: #555;
    padding: 1rem;
    background-color: #faf7f0;
    margin: 2px;

    &__section {
        background-color: #f2f0fc;
    }
}